[2019-03-15 07:26] robmarkcole opened #1 "install.sh throws an error if system python is not 3.5"
When following https://coral.withgoogle.com/tutorials/accelerator/ I received an error in line 116 of the `install.sh` script, as it requires python **3.5**. I just ran the command with system python (3.7) and did not receive the error, so you might want to amend the script.

[2019-03-15 16:33] brianthelion opened #2 "`screen /dev/ttyUSB0 115200` fails with `[screen is terminating]`"
* Doc you were trying to follow: https://coral.withgoogle.com/tutorials/devboard/
* Your host OS: Ubuntu 18.04
* Your Python3 version: 3.6.7

# What I ran

When running the Getting Started tutorial, I everything went smoothly up to:

[code]
and then
[code]

# What the docs said should happen

"Terminal should go blank."

# What actually happened

[code]

[2019-03-15 16:46] brianthelion commented on #2
Not sure what's up with the `dmesg` output but I think it's orthogonal to the `screen` issue. The `screen` issue I believe is due to `udev` permissions. It's quickly solved with:
[code]

[2019-03-16 00:19] brianthelion opened #3 "Can't compile OpenCV from source due to lack of device memory"
# What I ran

[code]

# What the docs said should happen

Build completes.

# What actually happened

Build fails; out of memory.

[2019-03-16 01:55] hughpyle commented on #2
Alternatively: the /dev/ttyUSB0 should be group-writeable bu 'dialout', so add your user to the 'dialout' group:
[code]
then you'll be able to run screen without sudo.

[2019-03-17 09:23] taunusflieger commented on #2
Are you trying to connect from within a VM? Got the same when using a Parallel VM. I ended up using a Raspberry PI as the Linux box for installation

[2019-03-17 09:35] taunusflieger opened #4 "network issues"
* Doc you were trying to follow: <please insert>
* Your host OS: <please insert>
* Your Python3 version: <please insert>

# What I ran
Installation went through smoothly. After first reboot I've configured the network (cable and WIFI) - all good. After reboot the box is not reachable and if you log on using serial you can't reach anything on the local network from within the box. The following scr

[2019-03-17 12:23] brianthelion commented on #2
No, I was connecting from a Thinkpad running Ubuntu.

[2019-03-17 12:40] taunusflieger commented on #4
Got it resolved - changed the network in /usr/bin/aiy-gadget-start.sh to a different network than my local network

[2019-03-19 13:16] asnare commented on #2
When getting started there are two USB devices that are used:

 - The first is a UART bridge that you use get the serial console. This is normally `/dev/ttyUSB0` after you plug it in.
 - The second is the OTG/data port where the firmware gets uploaded. The `udev` rule in the documentation (covering device with vendor id `0525`) ensures this gets the right permissions for `fastboot` to do its thing

[2019-03-20 16:50] brianthelion opened #5 "Adding a swapfile"
Due to lack of device RAM (see #3 ), it's important to be able to use the non-volatile memory (ie, the "disk space") for storing RAM overruns. This is what [swap space][1] is for.

Older *nix systems tended to have an entire partition dedicated to this. Modern systems tend to use a file instead.

This tutorial describes how to add a swap file to the Coral dev board.

[1]: https://en.wikipedia.org/

[2019-03-20 17:04] brianthelion commented on #3
Added a swap file. See #5 . Promptly ran out out disk space about 2/3rds of the way through the build.

[2019-03-20 17:06] brianthelion commented on #5
There's a standard package that will handle all the mechanics of setting up the swap file for you:

[code]
Note that if the swap file grows unbounded, it can eat up all the free space on the disk that's mounting the root partition. This is the 16GB eMMC by default. If you bound the size of the swap file, though, you may be back in "out of memory" land. Picking the right size for the swap file is a

[2019-03-20 17:33] brianthelion opened #6 "Using an SD card for extra disk space"
The Coral dev board comes with ~~16GB~~ 8GB of non-volatile storage in the form of an eMMC. This isn't very much. If you want to expand the device's storage, you can add disk space via either an SD card or the USB3 slot.

If you want the additional storage to be "transparent" -- ie, so you don't have to change the way you do things on the device in order to use it -- then you should mount a part o

[2019-03-21 09:44] eejlny opened #7 "getting access to _edgetpu_cpp_wrapper_arm64.so"
Hello,

Would someone with access to the dev board share the _edgetpu_cpp_wrapper_arm64.so. I only have access to the USB device and I am trying to use it with an ARM64 board but this file is missing and only the 32bit version is present so I cannot use it. The docs say that this is part of the dev board file system but I do not have a a dev board only the USB coral stick.

![image](https://user-i

[2019-03-21 21:18] brianthelion commented on #7
Don't have the dev board in front of me today but can track it down for you soon-ish.

[2019-03-22 03:10] brianthelion opened #8 "Spoofing the Linux distro and version"
One of the annoying things about the dev board is that, while it appears to run a fairly vanilla version of Debian Linux, it *reports* that it runs Mendel Linux.

This is problematic because some of the Debian tools and packages that would otherwise be compatible with the dev board may balk at being operated on Mendel.

Fortunately there is a workaround for at least some such cases:

The standard

[2019-03-22 09:09] eejlny commented on #7
Thanks,

I also contacted the Google Coral team and they said they forgot and that they will add it in a future release but they did not say when.

[2019-03-22 19:32] racky1 commented on #2
So I had this problem when using an Ubuntu box so I used a Raspberry Pi 3 and was able to flash the unit with the instructions.

[2019-03-25 21:36] brianthelion commented on #7
@eejlny Sorry for the late reply on this. Here's what I've got:

[code]
The name doesn't match exactly, but I'm guessing you're talking about the latter? Those appear to come from some .debs installed by the Mendel image:

[code]

Let me know what you need me to send.

[2019-03-26 07:57] eejlny commented on #7
Thanks for looking into this,

yes, it is the later _edgetpu_cpp_wrapper.cpython-35m-aarch64-linux-gnu.so

Not sure if it will work but it is worth a try. Thanks again.

[2019-03-27 23:12] BarryLYH commented on #2
I tried it and now I can connect to ttyUSB0. However, when I went to step "fastboot devices", I cannot find the ttyUSB1. Do you have any idea of that?

[2019-03-28 09:51] eejlny commented on #7
Hi brianthelion,

Please, if you get the chance you can send me the .so ?

Thanks,

[2019-03-28 22:40] lleonid commented on #5
This is going to quickly exhaust write cycles of emmc device.

[2019-03-28 22:42] jtgans commented on #8
Which tools are you attempting to use that cause you problems?

[2019-03-28 22:51] jtgans opened #9 "README.md is misleading"
Under OS Notes is the following:

This is actually incorrect. Debian is based upon stock Debian Stretch -- not testing. Source: I'm the techlead on Mendel. :smile:

[2019-03-29 04:27] blitzvb commented on #7
Can you post it here ? Thx

[2019-03-29 13:11] brianthelion commented on #8
@jtgans https://github.com/saltstack/salt-bootstrap

[2019-03-29 13:13] brianthelion commented on #9
@jtgans Very nice to have you checking in with us! I will update the notes.

[2019-03-29 13:22] k2kdisk commented on #7
You can get _edgetpu_cpp_wrapper.cpython-35m-aarch64-linux-gnu.so from the dev board flash image.
[code]
I try to run the stick on an aarch64 board using the .so file, but it failed with following error.
[code]

[2019-03-29 13:28] brianthelion commented on #7
@eejlny @blitzvb Sorry for the delay here; I had a bunch going on this week.

I was about to send you a Google Drive link, but @k2disk just gave us a better approach.

[2019-03-29 14:04] brianthelion commented on #5
@lleonid I'll talk about moving the swapfiled to a filesystem location that's mounted on the SD card in #6 . Working on that today.

[2019-03-29 15:54] blitzvb commented on #7
@k2kdisk thanks! I appreciate.

After modifying the install.sh and cp all the required libs, I got the exact same error as you got :/

FYI, it's "running" on a jetson tx1

any ideas ?

[2019-03-29 16:58] eejlny commented on #7
Thanks,

Pity is not working.

How did you manage to get it working on the Jetson tx1. Use a 32-bit OS ?

Reader in Adaptive and Energy Efficient Computing
Fellow of the Higher Education Academy
Advanced Microelectronics and System Engineering (AMSE) MSc program director
Merchant Venturers Building
Department of Electronic and Electrical engineering
University of Bristol
phone : 0117 3315128
Fax :

[2019-03-29 17:07] blitzvb commented on #7
My bad. I meant I started the demos on a Jetson tx1 ;) ... this is why I quoted the “running” ;)

[2019-03-29 17:28] jtgans commented on #8
Perhaps it would be better to send a PR to salt-bootstrap to support Mendel? Mendel is a proper derivative of Debian stretch (stable), and we're following the guidelines set forth here: https://wiki.debian.org/Derivatives/Guidelines, which states we can't actually use the name Debian.

[2019-03-29 17:47] jtgans commented on #5
Should just be a matter of doing the following:

[code]

That will use the full SD card just for swap for that session. To make it permanent:

[code]

Note that if you don't have that exact SD card inserted, it'll fail to boot.

[2019-03-29 17:48] jtgans commented on #5
Note that SD cards and USB flash drives will also have a limited number of write cycles as well, depending on the grade and quality of the card/flash drive.

[2019-03-29 17:51] jtgans commented on #5
Also, if you want swap on an sdcard with a filesystem (say mounted at /home like in #6), do this:

[code]

And again, to make it permanent:

[code]

[2019-03-29 18:42] #9 closed

[2019-03-29 18:46] brianthelion commented on #8
@jtgans Noted. I'll ping them on Slack.

[2019-03-29 18:51] jtgans commented on #1
Yeah, we're aware, and will have this addressed in our upcoming release. :smile:

Also of note, this isn't actually our official support channel, so if you want these bugs to be actually noticed, you need to contact us via coral-support@google.com. I'm here, but that's because I'm nuts. :stuck_out_tongue:

[2019-03-30 19:40] CharlesCCC commented on #3
why would you use OpenCV when this thing is built for TensorFlow ???

[2019-03-31 00:03] brianthelion commented on #3
@CharlesCCC Not all computer vision is neural networks.

[2019-04-01 01:23] CharlesCCC commented on #3
okay, I got that. I just wasn't sure what's the reason behind it ? Like, what would be a good reason using Computer Vision without neural networks ?(if there other limitation ?)

In addition, if you would like to use computer vision without neural networks(Not necessary Tensorflow, but let's just say it is). why would you pick a device like EdgeTPU (which is optimized for TensorFlow) vs. other SOC

[2019-04-01 13:48] brianthelion commented on #3
@CharlesCCC All good questions. Most computer vision pipelines "in the wild" have several steps. Some of those steps make use of the CPU and some of them make use of coprocessor hardware like GPUs and TPUs. Depending on the application, the CPU steps can just as easily be the throughput bottleneck.

We're interested in providing engineers with clear decision criteria like, "When you want to do X,

[2019-04-03 12:10] eejlny commented on #7
OK, I tried as well and I can confirm the problem:

:~/coral/python-tflite-source/edgetpu# python3 demo/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --label test_data/inat_bird_labels.txt --image test_data/parrot.jpg                  Failed to retrieve TPU context.
Node number 0 (edgetpu-custom-op) failed to prepare.

Failed in Tensor allocation, status_c

[2019-04-03 15:12] blitzvb commented on #7
try lsusb. For me the USB device was seen.

[2019-04-03 15:34] eejlny commented on #7
yes, I think I can see the device as usb 2.0

Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 Device 002: ID 1a6e:089a Global Unichip Corp.
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub

Still the same error with the tpu context 😞

________________________________
From: Vincent Bellet <notifications@github.com>
Sent: 03 April 2019 16:13:01
To: f0cal/google-c

[2019-04-03 21:55] k2kdisk commented on #7
On my RasPi3, the usb stick works fine and lsusb is same as @eejlny
[code]
But after running the demo, the vid:pid changed :
[code]

In my imaginagion, demo script or cpp_wrapper.so setup TPU as usb gadget on arm32, but as PCIE board on arm64.
The dev board block diagram shows that TPU is connected on PCIE bus.

[2019-04-11 08:18] samsterckval commented on #7
Any updates on this?  I would also like to run it on a aarch64 board, tried the usual stuff of installing the arm64 libraries, but indeed got to the problem it isn't connected through PCIE.

[2019-04-11 08:20] blitzvb commented on #7
I heard that arm64(aarch64) will be included in their next release.

[2019-04-11 08:21] samsterckval commented on #7
Maybe a stupid question, but I don't seem to directly find anything about it : Do we have any idea when the next release is due?

[2019-04-11 12:24] brianthelion opened #10 "Updating the Python version"
One of the difficult parts of working with the devboard is the Python version (3.5) that we've inherited from Debian Stretch. This is a pre-`orderedict`-everywhere version, which can create a lot of confusion if you're used to `kwargs` being ordered.

Unfortunately, Debian hasn't provided Stretch backports for newer Python versions. In fact, they've taken `python3.6` out of their [pool](http://ftp

[2019-04-11 12:32] brianthelion commented on #10
It might be possible to leverage Ubuntu's excellent `ppa:deadsnakes/ppa`, but I decided to try a different tack after discovering a `python3.6` [backport script](https://github.com/chriskuehl/python3.6-debian-stretch) on GitHub.

The result is https://github.com/f0cal/python3.7-debs. Follow the instructions there and you're good to go with both `python3.5` and `python3.7` on Coral

[2019-04-12 01:22] PeterMalkin commented on #7
Seems to be up on coral website now :)
https://coral.withgoogle.com/news/updates-04-2019/

[2019-04-12 05:40] samsterckval commented on #7
It does not seem to talk about the aarch64 support for the USB accelerator though, if anyone could confirm it works, would be great.  I have time this afternoon(CET) to test it else.

[2019-04-12 05:52] blitzvb commented on #7
I cannot test on my aarch64 board yet, but the SDK include the arm64 lib and the install.sh seems to take in account that architecture ;)

<img width="667" alt="Screenshot 2019-04-12 at 07 51 14" src="https://user-images.githubusercontent.com/1486017/56015022-ddd65700-5cf7-11e9-95ac-c9a2415a59a5.png">

[2019-04-12 08:16] blitzvb commented on #7
it install properly but the inference is not working :/

`nvidia@tegra-ubuntu:/usr/local/lib/python3.5/dist-packages/edgetpu/demo$ python3 object_detection.py \

Traceback (most recent call last):
  File "object_detection.py", line 110, in <module>
    main()
  File "object_detection.py", line 75, in main
    engine = DetectionEngine(args.model)
  File "/usr/local/lib/python3.5/dist-packages/edget

[2019-04-12 09:10] PeterMalkin commented on #7
If you don't mind, can you send the logs and the model to the email address
listed here: https://coral.withgoogle.com/support/

On Fri, Apr 12, 2019, 16:16 Vincent Bellet <notifications@github.com> wrote:

[2019-04-12 09:10] PeterMalkin commented on #7
Do the default models that are listed on the coral website work?

On Fri, Apr 12, 2019, 17:09 Peter Malkin <malkin.peter@gmail.com> wrote:

[2019-04-12 09:12] blitzvb commented on #7
it is the default model... with the default demos. I tried classification and detection.

for the full log, I already sent it to coral-support@google.com this morning with that email : Vincent at goview dot co

[2019-04-12 09:55] k2kdisk commented on #7
I cleanup my arm64 board rootfs and install the new one, but not working.
[code]

The new installer not seems to be include _edgetpu_cpp_wrapper. Where is it?

[2019-04-12 11:33] samsterckval commented on #7
It seems the install.sh file does not rename the .so file.
you can copy the aarch64 file and rename it to _edgetpu_cpp_wrapper.so, then all works fine for me!  I have a speedup of about 3 compared to a 32-bit USB2.0 system.

[2019-04-12 13:18] k2kdisk commented on #7
@samsterckval Thanks! I can run a sample on aarch64 board.
[code]

[2019-04-12 14:45] blitzvb commented on #7
For me, on a Jetson TX1, it was a different bug. it's a permission issue. here what I did to make it work:

change install.sh like that:

`  sudo -H python3 -m pip install --no-deps "${WHEEL}"`

run any app that use the coral API with sudo:

`sudo python3 classify_image.py --model ~/devel/ai/demo/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --label ~/devel/ai/demo/inat_bird_labels.txt --ima

[2019-04-21 21:05] SX-GitHub opened #11 "ssh Permission denied (publickey)."
* Doc you were trying to follow: https://coral.withgoogle.com/docs/dev-board/reflash/
* Your host OS: Debian ARM64 stretch
* Your Python3 version: N/A

# ssh mendel@192.168.100.2

# should show password:

# I got error "ssh Permission denied (publickey)."
-- I was able to ssh to 2.0 Beaker minutes ago before flash and reboot!

[coral_board_ssh_log.txt](https://github.com/f0cal/google-coral/files/3

[2019-04-22 05:55] SX-GitHub commented on #11
OK the answer is in the bottom part of the page https://coral.withgoogle.com/docs/dev-board/mdt/#connect-to-a-boards-shell

[2019-04-22 05:55] #11 closed, assigned to nobody

[2019-04-25 13:46] JaviBonilla opened #12 "USB Accelerator - C++ API - Segmentation fault"
* Doc you were trying to follow:
https://coral.withgoogle.com/docs/edgetpu/api-cpp/
https://coral.googlesource.com/edgetpu-native/+/refs/heads/release-chef/libedgetpu/edgetpu.h
* Your host OS: _openSUSE Tumbleweed x86_64 (it is unsupported but it is working fine)_
* Your Python3 version: _Not Python, I am using C++ API and the USB Accelerator_

# What I ran
Everything is working great with respect

[2019-04-25 21:27] ckuethe opened #13 "ModuleNotFoundError: No module named '_edgetpu_cpp_wrapper' on ubuntu 19.04 with python 3.7"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/accelerator/get-started/
* Your host OS: Ubuntu 19.04 x86_64
* Your Python3 version: 3.7.3

# What I ran
[code]

# What the docs said should happen
[code]

# What actually happened
[code]

I'm guessing this is because there is no `37m-x86_64` build...
[code]

[2019-04-25 21:29] ckuethe commented on #13
As a nasty workaround, you can do `cd /usr/local/lib/python3.7/dist-packages/edgetpu/swig/ && sudo ln -s _edgetpu_cpp_wrapper.cpython-3{6,7}m-x86_64-linux-gnu.so`

which somewhat works for the parrot demo, albeit with a warning:
`W third_party/darwinn/driver/package_registry.cc:65] Minimum runtime version required by package (5) is lower than expected (10).`

[2019-04-25 21:41] ckuethe commented on #13
installed from `edgetpu_api_1.9.2.tar.gz`

[2019-04-26 17:50] brianthelion commented on #12
@JaviBonilla If those functions were missing from the `.so` you would see a linker errors when you try to compile your application code, as opposed to a segmentation fault.

[2019-04-26 18:06] piperod opened #14 "coral-mdt-stable InRelease' doesn't support architecture 'arm64'"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/dev-board/mdt/
* Your host OS: linux
* Your Python3 version:3

# What I ran :
# Add the repo:
echo "deb https://packages.cloud.google.com/apt coral-mdt-stable main" | sudo tee /etc/apt/sources.list.d/mdt.list

# Add Google keys
curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -

# Then install the packa

[2019-04-26 20:53] JaviBonilla commented on #12
@brianthelion yes, you are right! I checked again and the _EnumerateEdgeTpu_ method is in the docs and in an example.

https://coral.withgoogle.com/docs/edgetpu/multiple-edgetpu/
https://coral.googlesource.com/edgetpu-native/+/refs/heads/release-chef/edgetpu/cpp/examples/two_models_two_tpus_threaded.cc

[2019-04-27 04:41] ksachdeva commented on #6
I think there is a typo here. The board comes with 8GB of eMMC.

I have verified it by running `df -h` on my board and even the datasheet says so -

https://coral.withgoogle.com/docs/dev-board/datasheet/#features

##

I see the reference to 16GB eMMC in another issue as well.

[2019-04-27 17:33] brianthelion commented on #6
@ksachdeva You are correct. Updated.

[2019-04-27 17:36] brianthelion commented on #12
@JaviBonilla Did you try running your application in a `gdb` sandbox to get stack trace after the segfault?

[2019-04-29 14:23] JaviBonilla commented on #12
Ok, so when I execute the following code,

[code]
I get the following information.

I think the -3689348814741910324 in hex is 0xCCCCCCCCCCCCCCCC, and this represents a value that a local variable gets when it is not initialized in debug mode.

The segmentation fault happens when accessing the first element of the `available_tpus` vector, that is the `edgetpu` object in the for loop.

[2019-04-29 15:12] larrylart opened #15 "Heat and power usage at idle is high"
* Your host OS: coral dev board

# What I ran
Nothing, at idle, and while running c++ mobile net sample app

# What actually happened

The board heats up while at idle (no other devices attached and wifi off) and power usage is 2.8W, well over what the  i.MX 8M spec is, at idle - https://www.nxp.com/docs/en/nxp/application-notes/AN12118.pdf

Fan does not seem to bother much to run either, I could

[2019-04-29 18:58] brianthelion commented on #12
@JaviBonilla  Can you share the gdb backtrace? So instead of
[code]
when you get to step (7) run `gdb two_models_two_tpus_threaded`. That will open the `gdb` prompt. Type `r` for "run". When you see the segfault, type `bt` for "backtrace" and post the result.

[2019-04-29 19:10] brianthelion commented on #15
@larrylart Just happened to notice this buried in some [Coral source code](https://coral.googlesource.com/edgetpu-native/+/refs/heads/release-chef/edgetpu/cpp/examples/two_models_two_tpus_threaded.cc). Might be useful, might not.

[code]

[2019-04-30 09:58] JaviBonilla commented on #12
@brianthelion Sure, this is the backtrace.

[code]

[2019-04-30 23:03] lleonid commented on #15
@brianthelion That will only increase power consumtion by forcing CPU cores to operate at higher frequency.

@larrylart You can change fan trip temperature via /sys/class/thermal/thermal_zone0/trip_point_4_temp

[2019-05-02 11:47] TallGuy74 opened #16 "edgetpu example source code doesn't compile with bazel 0.25.0"
I used [https://coral.googlesource.com/edgetpu](url) to download the edgetpu C++ examples.
This installs bazel 0.25.0 in the docker image (latest version from the bazel debian repo), which introduced a change incompatible with the io_closures used in the workspace.

To work around this, I modified the docker file in tools to install bazel 0.24.1 using the default installer (apt get zip unzip; wget

[2019-05-02 11:48] TallGuy74 commented on #16
[code]

[2019-05-03 07:28] LukasLoacker opened #17 "Error when compiling embedded extractor on coral"
I am trying to retrain an image classifier on my coral edgeTPU device. Therefore I followed the steps explained on the <a href="https://coral.withgoogle.com/docs/edgetpu/retrain-classification-ondevice/">Coral's "Retrain an image classification model on-device"  tutorial</a>:

## embedded extractor creation ##

I used the <a href="http://download.tensorflow.org/models/mobilenet_v1_2018_08_02/mobil

[2019-05-04 15:55] caiya55 opened #18 "Cannot install python libraries in the Coral"
* Doc you were trying to follow: pip3 install XXX
* Your host OS: ubuntu
* Your Python3 version: python3.6

# What I ran
 pip3 install XXX (tensorflow, scipy, opencv-python, etc.)
# What the docs said should happen
successfully building
# What actually happened
errors, many red errors.

After a few days working, I have successfully run demos on the coral with its camera. It works very well and fas

[2019-05-04 16:29] brianthelion commented on #18
@caiya55 We need to triage the specific error modes that the Coral exhibits. Please make a simple `bash` script that demonstrates the issues you're having, and post it here.

[2019-05-05 01:41] caiya55 commented on #18
![screenshot1](https://user-images.githubusercontent.com/33747685/57186926-e813fb80-6f19-11e9-9cd3-ecf31ef2f56b.png)

[2019-05-05 01:41] caiya55 commented on #18
![screenshot2](https://user-images.githubusercontent.com/33747685/57186930-f3672700-6f19-11e9-999e-f7e159287106.png)
![screenshot3](https://user-images.githubusercontent.com/33747685/57186932-f95d0800-6f19-11e9-8bc4-392ceb949440.png)

[2019-05-05 01:42] caiya55 commented on #18
I make a screenshot of pip3 install slidingwindow.

[2019-05-05 03:21] larrylart commented on #12
I am getting the same, segmentation fault, while calling EnumerateEdgeTpu on Ubuntu 18.04/Armv7.
I added a basic c++ sample of mobilenet ssd v2 at https://github.com/larrylart/codrive/tree/master/hw_sampling/google_coral, which works fine otherwise, however it fails if you try enumerate/use multiple devices.
@JaviBonilla it does look like an initialisation bug in the library.

[2019-05-05 10:16] JaviBonilla commented on #12
Thanks for the info and the code @larrylart. Yes, the bug seems to be that the list of devices is not properly initialized and it reports a wrong number of TPU devices.

I didn't inform about this to the Coral team because I am on an unsupported OS, but since you tested this on Ubuntu perhaps we should let them know at https://coral.withgoogle.com/support/.

[2019-05-05 18:04] brianthelion commented on #18
`fatal error: Python.h No such file or directory` is a dead giveaway. That means that the C++ headers required for building Python extensions are not installed. You need to `sudo apt-get install python3-dev`.

As a side note, it's potentially problematic to use `sudo` with `pip3`. This practice is generally to be avoided. If you do your work in a virtual environment instead, you don't have to worr

[2019-05-05 19:49] larrylart commented on #12
I get the same segmentation fault on the coral dev board as well, that with their own Mendel debian flavour, so it's definitely due to a bug in the libedgetpu.
I noticed that you can set SetVerbosity(10) and get  debug info from the lib, however I could not find anything that might help, just that the standard NewEdgeTpuContext() does also make a call internally to enumerate devices, obviously not

[2019-05-06 09:05] caiya55 commented on #18
thank you very much. This is perfectly solved my problem. There are several things I'd like to share when I try to solve this problem:
1. I got some weird errors when I try to install libraries. I think reboot the system is a wise choice.
3. after reboot, run sudo apt-get update.
2. For anyone who is from China, it is very necessary to find tools to "cross the wall". For me, shadow socks installed

[2019-05-06 15:17] #18 closed, assigned to nobody

[2019-05-06 16:53] mnguyenngo opened #19 "`fastboot devices` returns Error"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/dev-board/get-started/
* Your host OS: Mac OS 10.14.4
* Your Python3 version: Python 3.7.2
* fastboot version: 28.0.2

# What I ran
`fastboot devices`

# What the docs said should happen
`1b0741d6f0609912        fastboot`

# What actually happened
`ERROR: Couldn't create a device interface iterator: (e00002bd)`

Sorry if this is a

[2019-05-07 06:46] caiya55 opened #20 "How to deply my own .Tflite file"
* Doc you were trying to follow: coral tflite file
* Your host OS: Ubuntu
* Your Python3 version: python 3.6

Now I have my own complied .tflite model, the file is already passed the  [Compile your model for the Edge TPU](https://coral.withgoogle.com/web-compiler/), and visualize.py shows that the operators are all become UINT8 type. Now I'd like to know how to deploy the model and make it run in

[2019-05-07 15:01] JaviBonilla commented on #12
@larrylart Thanks for the additional tests! I have just written to the Coral support team and also sent a link to this discussion so they can have more info.

[2019-05-07 15:07] larrylart commented on #12
@JaviBonilla, well, as of few hours ago, that I did as well and also sent a link to this thread ... I guess the more the merry. So, far I   got a confirmation that their engineers are looking after, fingers crossed.

[2019-05-07 18:41] weiran-work commented on #12
Folks, do you see segmentation fault if you compile the binary with given tool-chain using the docker image? My hypothesis now is that this is caused by linking against libstdc++ instead of libc++.

libedgetpu.so is compiled against libc++, and I see from the stacktrace above, mention of libstdc++
such as x86_64-suse-linux/libstdc++-v3/include/bits/basic_string.h

[2019-05-07 20:24] lleonid commented on #12
alternatively on coral dev board you could:
sudo apt-get install clang edgetpu-dev libc++-dev
and then:

`
mendel@silly-apple:~$ cat test.cc
#include <iostream>
#include <edgetpu.h>

int main(void) {
        auto v = edgetpu::EdgeTpuManager::GetSingleton()->Version();
        std::cout << v << std::endl;
}
mendel@silly-apple:~$ clang++ -std=c++11 -stdlib=libc++ -ledgetpu -I/home/mendel/edgetpu-nat

[2019-05-07 21:16] JaviBonilla commented on #12
Thanks @weiranzhao, ok! so that's probably the problem. I switched to clang and libc++ from gcc and libstdc++ to compile this example because it is easier to use libc++ in clang, but I still have libstdc++ dependencies in the TensorFlow Lite library because I compiled it with make and gcc.

I will try to compile TensorFlow Lite without libstdc++ dependencies and test the example again. I will let

[2019-05-07 21:49] larrylart commented on #12
Getting tensorflow with clang is easy enough ... however compiling opencv with clang and neon is another story. @JaviBonilla let us know if this does it for you and/or if you managed to also compile opencv with clang as well.

[2019-05-07 21:58] brianthelion commented on #12
@larrylart The recent `conan` OpenCV recipes should get you there with very few headaches. If they don't, let me know and I'll post one.

[2019-05-07 22:04] JaviBonilla commented on #12
@larrylart I do not use OpenCV in the examples I am going to test first, I use only C++, Qt/QML and TensorFlow or TensorFlow Lite.

I have some examples for desktop, iOS, Android and Raspberry Pi. For example this is for Raspberry Pi:  https://mechatronicsblog.com/raspberry-pi-tensorflow-lite-and-qt-qml-object-detection-example/.

Besides to compile TensorFlow Lite with clang, I have to figure it

[2019-05-08 08:54] caiya55 commented on #20
I found the solution, it is not working very well, but I will update it in this issue.

if you want deploy your own tflite model in the Coral, basically you need to follow these steps:

1. convert your .pb file to .tflite file. And make sure your tflite pass the  [Edge TPU Model Compiler](https://coral.withgoogle.com/web-compiler/). And downloaded the .tflite file, this is your tflite-edgetpu file

[2019-05-08 09:02] caiya55 commented on #20
Basically, this is working if you convert your model correctly. But I get weird output now. And one thing that really bothers me is that the type of output in my .tflite file is UINT8, but actually, it is FLOAT32 in .pb file.

I am still working on it. According to the official tflite, their output is FLOAT32, so I am checking the converting way, maybe there are some tricks.

And you can use tenso

[2019-05-08 10:30] JaviBonilla commented on #12
@larrylart @weiranzhao Ok, so I confirm that the `two_models_two_tpus_threaded.cc` example works if it is linked to `libc++` instead of `libstdc++`.

[2019-05-08 18:13] larrylart commented on #12
Thank you @weiranzhao @JaviBonilla - yes the issue is due to the fact that the api is linked against libc++.
I am still in struggle to get opencv 4.1 to link exclusively against libc++, and so far has been proven extremely stubborn - after 10-20 attempts it still links both libcc++ and stdlib for some reason ignoring the flags to force libc++ only.

It will be great if Coral team will release an a

[2019-05-09 00:12] bryoneason opened #21 "Environmental sensor board demo not working"
* Doc you were trying to follow: [https://coral.withgoogle.com/docs/enviro-board/get-started/]
* Your host OS: <Linux>
* Your Python3 version: <3.5.3>

# What I ran
`sudo python3 enviro_demo.py`
# What the docs said should happen
The doc says you should be able to see sensor data on the OLED and send data to the cloud. But it seems I am unable to detect the crypto processor on the Environmental Se

[2019-05-09 03:32] caiya55 commented on #20
I found a good softeware called netron. It is very powerful softeware to visualized your model, and find the name of input and output.  It is more efficient than visualized.py. So I recommended netron now.

[2019-05-09 20:54] brianthelion commented on #21
@bryoneason This may just be a problem with the doc you were trying to follow. The doc claims

`[The board] includes a secure cryptoprocessor with Google keys to enable connectivity with Google Cloud IoT Core services, allowing you to securely connect to the device and then collect, process, and analyze the sensor data.`

Seems like that RSA key is missing, but it doesn't really make sense that Go

[2019-05-15 05:57] mnguyenngo commented on #19
Update on new fastboot version

[code]

I am unfortunately getting the same error. Is anyone else encountering this issue?

[2019-05-15 21:26] lleonid commented on #21
An update has been pushed to resolve a kernel configuration issue.
You need to uninstall previous packages and then update via
sudo apt-get purge python3-coral-enviro
sudo apt autoremove
sudo apt-get update
sudo apt-get upgrade

Then follow https://coral.withgoogle.com/docs/enviro-board/get-started/ again.

[2019-05-17 15:28] Charlesl0129 commented on #20
Hi caiya have you solved the problem yet? I'm in a similar situation trying to get pose estimation running.
But model.RunInference gives segmentation fault...

[2019-05-18 05:57] caiya55 commented on #20
Yes, as for the UINT8 output problem, it is solved, it seems like the official API will use code to convert your UINT8 output into float32. So finally you will get float32 output. Here is the source code from Coral support team:
[code]
But after that, I got a float32 output but it is not correct. Quickly I get the reason. Since the opt.pb provided by the open-pose GitHub project is not a quantizat

[2019-05-20 21:22] ghost opened #22 "Blink LED Issues"
Having trouble running a 'Blink LED' program on the Coral Dev Board

Ran updates

[code]

Loaded python 3 & periphery

[code]
Wrote and loaded a Blink LED python program

[code]

Attempted to run the python program

[code]
Received the following error

**ImportError: No module named periphery**

`pip3 list` shows

[code]

Reran periphery install

  `sudo pip3 install python-periphery`

Received th

[2019-05-21 03:57] brianthelion commented on #22
You're installing things using `pip3`, with the `3` meaning "using `python3`."
[code]

Meanwhile your script uses `/usr/bin/python`. Note the missing `3`.
[code]

Unfortunately, installing something for `python3` doesn't necessarily mean you also installed for `python` or vice-versa.

As a side note, it's potentially problematic to use `sudo` with `pip3`. This practice is generally to be avoided.

[2019-05-21 10:08] larrylart commented on #12
Anyone here managed to build opencv with libstdc++ and/or link opencv with edgetpu library without segmentation fault when using mutiple tpus query ?

After spending two full days trying to get opencv to compile libc++ and running in an exponential number of dependencies I had to compile to get opencv to compile with libc++, I give up for now. I play with one tpu at the time for time being ... I h

[2019-05-24 16:54] TheCedarPrince commented on #14
Hey @piperod wanted to let you know I figured out the problem.

You can easily miss it in the instructions but you need to install this on the host computer and not on the coral board.

I sat for a while trying to install it on the coral board and kept running into issues like yours - then I reread the directions and sure enough, you have to install mdt on the host computer.

Hope that helps!

I t

[2019-05-24 21:05] jmidd commented on #19
Yes same issue here @mnguyenngo did you manage to resolve this?

[2019-05-24 22:13] mnguyenngo commented on #19
Unfortunately, I have not. I have tried different USB C cables but the results have been the same.

[2019-05-24 22:15] jmidd commented on #19
I think i might try on a linux image - did you use a USB-A to USB- C cable or a USB-c to USB-c - I'm using a usb-c to usb-c cable which I guess may be the issue

[2019-05-24 22:17] mnguyenngo commented on #19
I used USB-A to micro-USB and 2 USB-C to USB-Cs. Yeah, it's possible that's the issue.

[2019-05-25 11:45] maiermic commented on #3
I have not tried it myself, but [this](https://medium.com/@balaji_85683/installing-opencv-4-0-on-google-coral-dev-board-5c3a69d7f52f) guide explains how to install OpenCV 4.0 from source on Google Coral Dev Board.

[2019-05-27 13:05] JVTEAM commented on #21
My board is displaying on the OLED, however it isn't giving a value, just the labels.  Also of note, it says "Cloud IoT is disabled per configuration." after the enviro demo is started.

Final note, is there a way to get the data elsewhere besides the OLED?

[2019-05-27 15:58] smithatlanta opened #23 "Error attempting to install driver for Environmental Sensor Board on RPi 2 Model B"
On a Raspberry Pi 2 Model B running Raspbian GNU/Linux 9 (stretch).

Using the install instructions here: https://coral.withgoogle.com/docs/enviro-board/get-started/

I am receiving the following error during the last step of:

sudo apt install python3-coral-enviro

The error is:

Error! Bad return status for module build on kernel: 3.6-trunk-rpi (armv7l)
Consult /var/lib/dkms/coral-enviro-drivers

[2019-05-28 11:47] dmdavidkov opened #24 "Error when running Inception v3 or v4 on coral dev board"
* Doc you were trying to follow: the official one, I just added the Inception v4 edgetpu model from https://coral.withgoogle.com/models/
* Your host OS: stock last version
* Your Python3 version: stock/unchanged

# What I ran
python3 classify_server.py --model inception_v4_299_quant_edgetpu.tflite --labels imagenet_labels.txt

# What the docs said should happen
Run a server streaming with classifi

[2019-05-28 18:35] djg14 commented on #19
I too ran into this problem, but was able to figure a work-around that went like this (not pretty):

1: Download and unzip platform-tools : platform-tools_r26.0.1-darwin.zip
2. Put fastboot into /usr/local/bin
3. Run through DevBoard "Get started" document (https://coral.withgoogle.com/docs/dev-board/get-started/) up to and including the "fastboot 0" command in step of that document.
4. Open new t

[2019-05-30 12:14] MartinSmeyer opened #25 "install.sh says platform is not supported, but it is"
I have this linux system (Ubuntu 16.04):
[code]

Linux martin-Lenovo-YOGA-910-13IKB 4.9.0-040900-generic #201612111631 SMP Sun Dec 11 21:33:00 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[code]
#201612111631 SMP Sun Dec 11 21:33:00 UTC 2016

this does not contain "Ubuntu" or "Debian" as asked for in l46 in install.sh

Removing
[code]
solves the problem.

[2019-05-30 14:20] brianthelion commented on #25
Can you provide some more context? What is `install.sh`?

[2019-06-03 21:03] JVTEAM commented on #6
Is the tutorial on here?

[2019-06-04 09:35] mbrooksx commented on #23
Raspbian decided to be difficult and switch from linux-headers to raspberrypi-kernel-headers but leave an antiquated (3.6) linux-headers package available. So if this is installed, modern drivers won't compile (the Enviro drivers compile for all installed kernel versions). Kill that version with fire:

sudo apt purge linux-headers
sudo rm -rf /usr/lib/modules/3.6*

Then you can install.

The packa

[2019-06-04 16:35] smithatlanta commented on #23
Looks like I'm still having header issues...

When I run the above, I get the following:

_sudo apt purge linux-headers

Reading package lists... Done
Building dependency tree
Reading state information... Done
Virtual packages like 'linux-headers' can't be removed
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded._

I went ahead and ran the _rm -rf /usr/lib/modules/3.6*_
then I did an

[2019-06-04 17:02] mbrooksx commented on #23
Try removing it again and then explicitly running

sudo apt install raspberrypi-kernel-headers

The Debian install should then see this is installed and skip installing
linux-headers

On Tue, Jun 4, 2019, 18:35 Michael Smith <notifications@github.com> wrote:

[2019-06-04 18:21] smithatlanta commented on #23
Getting much closer.

sudo apt install python3-coral-enviro

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  coral-enviro-drivers-dkms dkms python3-coral-cloudiot python3-cryptoauthlib python3-luma-core python3-luma-oled python3-paho-mqtt python3-smbus2
Suggested packages:
  python3-apport menu
The foll

[2019-06-04 20:25] JVTEAM commented on #21
configured the .ini file and it seems like the cloud site is seeing it now.  Is there any specific documentation on configuring the cloud portion of the sensor?

[2019-06-06 20:18] scottlamb commented on #13
Hit a similar error: my system (ODROID-XU4, running Ubuntu 18.04.2 LTS) comes with Python 3.6, and `edgetpu_api_1.9.2.tar.gz` has the arm32 version of the swig wrapper compiled only for Python 3.5.

Symlinking the file as suggested above works at least well enough to run the demo. (It initially failed with `RuntimeError: Failed to allocate tensors.` but I saw at google-coral/edgetpu-platforms#1 th

[2019-06-08 17:24] mbcel opened #26 "Is concatination not supported?"
I am wondering if concatination in a model is not supported by the Google Edge TPU?

For example when I do something like this in a model
[code]

And when I try to compile the .tflite file to an edgetpu file with the edgetpu_compiler it hangs and after a while aborts the compilation with 'Internal compiler error'. The docs say for concatination support limitations

If any input is a compile-time c

[2019-06-09 19:23] mbcel commented on #20
I am also having difficulties to get my own model to run on the Edge TPU. I am using the local ubuntu compiler to compile my .tflite file. However I realized that the compilation does not work if my image input size is too large. The compilation just hangs and gives an internal error without further specifying what error actually occured. (Do you get any further errors during compilation or just a

[2019-06-10 07:22] AlbertoLanaro commented on #20
@caiya55 did you use the model from [here](https://github.com/ildoonet/tf-pose-estimation)? In that case, which model did you use? Have you tried to retrain the model with quantization aware training?

Thank you.

[2019-06-11 10:33] JVTEAM opened #27 "MDT not compatible with ARM64"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/dev-board/mdt/
* Your host OS: ubuntu 18.04 (on jetson nano)
* Your Python3 version: 3.6

# What I ran

echo "deb https://packages.cloud.google.com/apt coral-mdt-stable main" | sudo tee /etc/apt/sources.list.d/mdt.list

curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -

sudo apt-get update

sudo apt-ge

[2019-06-11 15:03] adr-arroyo commented on #10
Hello @brianthelion, thanks for your contribution on the script.
I installed by source Python 3.7 in the coral, but I cannot install pandas lib (with   pip3 install pandas), but I can install other libraries as numpy. Do you have this problem also?

Regards

[2019-06-12 14:28] brianthelion commented on #10
@adr-arroyo Can you post some logs of how you're trying to run the install and what the output looks like?

[2019-06-13 02:07] caiya55 commented on #20
Yes, I get the model from ildoonet/tf-pose-estimation. I already get the quantized aware training model based on Mobilenet v2. Training script is available in tf_pose/train.py. You can change the quantization flag. After that, you can run the run_checkpoint.py model to obtain the eval_graph.pb, and freeze it and convert it to tflite. I get unsupported op error when I try to convert the frozen pb f

[2019-06-13 07:16] AlbertoLanaro commented on #20
Thank you @caiya55. I'm trying to train the model with quantization aware training but I'm having some issues with the training.py script. Can you please share your quantization aware trained model? Thank you!

[2019-06-13 09:57] caiya55 commented on #20
Do you have wechat?

[2019-06-13 10:05] AlbertoLanaro commented on #20
Sure, my ID is AlbeLanaro

[2019-06-13 14:51] dilipkumar25 opened #28 "kernel source code for the Coral kit"
Does anyone have the kernel source code for the Coral Dev kit? If available, the source code to the entire BSP (rootfs, libaries etc.) would be helpful too...

[2019-06-13 18:34] larrylart commented on #28
https://coral.googlesource.com/
However, I don't think they've made the source code for libraries available, at least not yet.

[2019-06-15 15:59] rdejana commented on #23
I have the same issue.  I think it is a kernel driver mismatch as if I stay on the kernel that came with raspbian-2019-04-09, 4.14.98-v7+, I can build and install the kernel mods once I install raspberrypi-kernel-headers.  I'm I try the 4.9 kernel, I get the same error you do.  I haven't tried 4.4.

[2019-06-16 10:11] KrasowskiMichal commented on #21
Hi,
I am also going through the demo of ESB setup. I can run the demo code, however, I am not getting the sensor result. Instead on display, I get "nan" value generated by the program (due to "null" value exception).

Environment used:
hardware: Raspberry Pi Zero
[code]

Exact commands used:
[code]
(note: using with sudo I have the same error)

Result: (OLED display)
Light: nan lux
Pressure: nan k

[2019-06-16 22:06] smithatlanta commented on #23
I ended up using this script:  https://gist.github.com/psyke83/cb3ca50561480809c246f42727cb7cf2#file-downgrade_firmware-sh
to downgrade my firmware and now I am good to go.

sudo ~/downgrade_firmware.sh downgrade
sudo ~/downgrade_firmware.sh block
sudo apt remove  python3-coral-enviro
sudo apt-get autoclean
sudo apt-get autoremove
sudo apt install  python3-coral-enviro
sudo reboot

[2019-06-17 08:39] adr-arroyo commented on #10
Hello,
I actually did not have any logs, pip just froze and couldnt continue. Let me try again and see if I have some output logs.

[2019-06-17 13:33] nitschw commented on #7
Hi everyone, @k2kdisk @samsterckval @eejlny I was about to try to get the parrot classification example running on the Coral USB accelerator with a Jetson Nano but am getting this same error (no module _edgetpu_cpp_wrapper_arm64.so).

I was just wondering if you ever got this fix process totally nailed down for arm64? It appears you had some success, but it is a little bit unclear from your above

[2019-06-17 15:49] eejlny commented on #7
The updated version contains the necessary files.

Check in the script and the folders to make sure that the names match since they do change slightly

________________________________
From: William Nitsch <notifications@github.com>
Sent: 17 June 2019 14:33:40
To: f0cal/google-coral
Cc: Jose Nunez-Yanez; Mention
Subject: Re: [f0cal/google-coral] getting access to _edgetpu_cpp_wrapper_arm64.so (#7)

[2019-06-18 11:48] znstj opened #29 "Only using an SD card for google-coral"
I want only using an SD card for google-coral,but not use the eMMC.
 Flash SD card is very easy to save or restore my system.
But now,it only Flash U-Boot on an SD card.

[2019-06-19 06:00] kyletaylored commented on #23
I've had the same issues reported in this thread, and this worked for me. I folded all this work into a simple script that should help at https://github.com/kyletaylored/coraldev

[code]

[2019-06-19 10:57] jveitchmichaelis commented on #7
For what it's worth, I'm running the USB accelerator on Arm64. I had no issue with the `install.sh` script, but also you can build from scratch (e.g. if you wanted to use an Anaconda environment).

Clone the repository: https://coral.googlesource.com/edgetpu/+/refs/heads/release-chef

Run:

[code]

You'll probably need other things like `swig` installed.

[2019-06-19 21:39] varleyd commented on #21
just to say I've the exact same problem.
Looking at this (board.py) it searches /sys/bus/iio/devices but I've no /sys/bus/iio directory. Should this have been created by the EEPROM on the Environmental Board described in the getting started notes as creating the device tree?

thanks.

[2019-06-20 12:42] ehagerty commented on #21
Hi, I thought perhaps it was the fact that the docs didn't really make clear (if) it needed I2C and SPI turned on via raspi-config.  However, even now that I've enabled them that way and rebooted, there are still no readings.  Everything says 'nan'.

[2019-06-20 20:53] Danny-Dasilva opened #30 "PI Servo Hat Issues"
# What I ran
[code]

# What actually happened
The servokit library has support for the Coral GPIO pins and the above code runs with a pi hat attached.
The Issue is if the Coral **reboots** the i2c device `sudo i2cdetect -y 1` shows up  as busy "UU".

If I unplug the pi hat before the reboot and plug it back in the hat will be recognized again.

If anyone knows how to free up the i2c device on rebo

[2019-06-21 12:45] JVTEAM commented on #24
I get the same error.  However, I run the command edgetpu_classify_server with the model and labels tag rather than the python command you are using.  Where did you get the classify_server.py script?  Want to try it on the usb accelerator.

[2019-06-24 00:13] mnguyenngo commented on #19
Updated to fastboot version 29.0.1-5644136.
I had some initial issues at first, but after switching to a different USB-A to USB-C cable, I did not experience any other issues.

[2019-06-24 00:13] #19 closed, assigned to nobody

[2019-06-24 06:43] #29 closed, assigned to nobody

[2019-06-24 19:59] KrasowskiMichal opened #31 "installation fails on new Buster release - dependency problem"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/enviro-board/get-started/
* Your host OS:
[code]
Raspbian Buster with desktop
Image with desktop based on Debian Buster
Version:June 2019
Release date:2019-06-20
Kernel version:4.19

* Your Python3 version:
[code]

# What I ran
[code]

# What the docs said should happen
(package installed ;)

# What actually happened
[code]

This s

[2019-06-25 09:11] YaroslavSchubert commented on #20
Check out this thread about quantization-aware training and the new tool for post-training quantization, might be useful for you
https://github.com/tensorflow/tensorflow/issues/27880#issuecomment-501436485

[2019-06-25 10:12] JVTEAM commented on #21
This had been previously working on my Coral Dev board.  Now I'm getting a note that says "No crypto detected, using SW." and I'm getting "nan" on my readings.

[2019-06-25 11:40] adr-arroyo commented on #14
What about installing the mdt in an actual arm64 like raspberry-pi?

Is it supported anyhow? For non-linux and non-mac users (windows) it makes it very hard to work with the coral.

[2019-06-25 11:44] piperod commented on #14
Sorry I forgot to give an update on this. And you were right. I totally got lost by the instructions and then I read carefully that I supposed to install it on the host computer. I ran into similar issues trying to install conda on the board and some libraries. I learned later that the board actually runs on 32 bit which make any library that runs on 64bit inadequate. I will try to publish as soon

[2019-06-25 11:48] adr-arroyo opened #32 "Install and Run Docker on Google Coral Dev Board"
Hello,

I would like to install docker in the Google Coral Dev board. Official support says that they have not tried to do it, but "I can try to do it".

Anyway, there is no "official" or supported way to install docker in the board, mainly because the get.docker.com script does not work on the coral.

Has anyone tried to install it by source? Following the [official steps](https://docs.docker.com

[2019-06-25 11:51] adr-arroyo commented on #14
Dear @piperod

I agree that there is very very limited information available (actually I did not know that the board runs on 32-bit, where did you find this?)

If you please comment here when and where you release your exercises, I would appreciate it :).

I have also openned an issue about installing docker on the board [here](https://github.com/f0cal/google-coral/issues/32).

Cheers!

[2019-06-25 13:22] adr-arroyo commented on #32
Update:

This might sound weird. Even though we cannot get docker from the website. It is completely possible to run docker from the Coral Dev Board.

Just follow the steps in the official tutorial for getting Docker CE from binaries [here](https://docs.docker.com/install/linux/docker-ce/binaries/). You need to run:

[code]

To get the compatible arm version of docker. If you follow the rest of th

[2019-06-27 11:21] adr-arroyo commented on #10
Hello,

Indeed I was able to get pandas on the coral, the problem was that it was taking sooo long to download that it appeared to be frozen.

If you run `pip` with option `--vvv` you will see what the installation is doing on the console.

Cheers!

[2019-06-27 13:14] Bugierek commented on #21
I also have similar issue. Readings show 'nan' for all the sensors

[2019-06-27 13:35] JVTEAM commented on #21
FYI, I had the same issue.  Then I tried it on my Coral Dev board and it worked...however days later the nan value returned.

I contacted support and they told me that "Latest version of Raspbian is breaking few Coral modules and our team is working on to fix that."

They gave me a drive link to a new image.  I tried it on a Pi Zero and it worked again.

https://drive.google.com/open?id=1LiKCdwAbS

[2019-06-27 13:57] Bugierek commented on #21
Thank you for the info, hopefully they'll resolve it soon.

Unfortunately the link has a restricted access, is it possible to re-up and pass the link here ?
Thanks

[2019-06-27 14:10] JVTEAM commented on #21
Its the 2019-04-08-raspbian-stretch.zip release of raspian.  I don't think there is any else special about it.

[2019-06-27 17:29] ehagerty commented on #21
Hi, I hope the following long description helps someone.

Try as I might, the limited nature of the 'getting started' doc for this board (https://coral.withgoogle.com/docs/enviro-board/get-started/) just wasn't deep or broad enough. However, I've had the great pleasure to be able to work over email with the incredibly helpful support guys at Coral.  Because I have faced all the different problems

[2019-07-02 17:26] ECE-Engineer commented on #13
For now the edgetpu_cpp_wrapper.py doesn't seem to be dynamic enough to pick the right version automatically.

I got it working by renaming the .so file to _edgetpu_cpp_wrapper.so. I should note that I also had to choose the .so file that corresponded to my machine. E.g the _edgetpu_cpp_wrapper.cpython-36m-x86_64-linux-gnu.so I renamed.

I should recommend anyone going this direction to make a dir

[2019-07-10 13:50] Midnight93 opened #33 "."

[2019-07-10 14:10] #33 closed, assigned to nobody

[2019-07-13 08:05] robmarkcole commented on #13
I am getting this error with raspbian Buster on  a pi 3

[2019-07-13 14:59] TannerGilbert opened #34 "Image Regression with EdgeTPU"
How can I perform Image Regression on the USB Accelerator with the Python API.

### What I tried
I tried using the ClassificationEngine without label but it didn't seem to work.

Any tip would be greatly appreciated.

[2019-07-13 18:37] libo-wu opened #35 "Issue when installing MDT"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/dev-board/get-started/
* Your host OS: Linux
* Your Python3 version: 3.5.3

# What I ran
I followed the getting started document step by step, until I ran **install the Mendel Development Tool (MDT)** with
`pip3 install --user mendel-development-tool`

# What actually happened
[code]

# Then I update the setup-tools
`pip3 install -

[2019-07-14 13:11] JVTEAM commented on #35
What computer are you install MDT on?

[2019-07-14 17:24] libo-wu commented on #35
I use a virtual machine with Ubuntu OS to establish the serial with the TPU dev board.

[2019-07-16 23:46] ghost commented on #13
This command below fixed it for me on raspian Buster on a pi 3.  It's sort of like ECE-Engineer's solution but for arm:

sudo cp _edgetpu_cpp_wrapper.cpython-35m-arm-linux-gnueabihf.so _edgetpu_cpp_wrapper.cpython-37m-arm-linux-gnueabihf.so

[2019-07-31 11:37] AlexTraan opened #36 "Trial Coral USB accelerator example crashed"
* Doc you were trying to follow: https://coral.googlesource.com/edgetpu-native/+/refs/heads/release-chef/edgetpu/cpp/examples
* Your host OS: ubuntu 18.04 LTS and Coral USB Accelerator
* Your Python3 version:

# What I ran
i run two_models_one_tpu.cc file

# What actually happened
I get the source code from (https://coral.googlesource.com/edgetpu-native/+/refs/heads/release-chef/edgetpu/cpp/exampl

[2019-08-03 07:56] YaroslavSchubert commented on #34
You should be able to run regression network using BasicEngine. ClassificationEngine and  DetectionEngine are just a wrapper around BasicEngine.

[2019-08-07 06:12] jleibund opened #37 "TPU unusable- provided shared library references undefined symbols: _Unwind_SetIP"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/accelerator/get-started/
* Your host OS: Raspbian GNU/Linux 9 (stretch)
* Your Python3 version: Python 3.5.3

# What I ran
./install.sh
... <omitting throttling message> ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
libc++1 is already the newest version (3.5-2).
libc++abi1 is already t

[2019-08-09 22:23] kflmiami420 opened #38 "Trying to install Coral Enviro Board to a Pi Zero W"
- #Purchased from Mouser.com   08-05-2019

* Doc you were trying to follow: The Instructions printed in the package state " To get started, follow the instructions at   g.co/coral/setup  it does nothing !!

* Your host OS: Debian Strech April release updated and upgraded
* Your Python3 version: python 3.4

# What I ran
from https://coral.withgoogle.com/docs/enviro-board/get-started/

python3 envir

[2019-08-10 12:42] maartenterpstra commented on #38
I can confirm this issue. I get the same readings with when having followed the same steps. I should also note that it also does not work on Raspbian Buster and SPI and I2C are enabled in `raspi-config`.

My only difference is that even `i2cdetect` fails to detect anything.

[2019-08-12 04:31] kflmiami420 commented on #38
are you running    "  i2cdetect -y 1 "

[2019-08-12 11:57] kannan-m opened #39 "USB camera composite device not enumerating"
Hi, I am trying to plug in e-con Systems See3CAM_130 USB camera in USB-3.0 A port of Google Coral development kit.
When I plug in, the uvc video device gets enumerated properly, and device node /dev/video0 is created. (I haven't plugged in any MIPI or USB cameras)
But the HID composite interface which will enumerate alongside the UVC simply doesnot enumerate.
Is there any way to enable this in Cor

[2019-08-12 15:19] scch-sims opened #40 "Can't install updates on Dev Board"
* Doc you were trying to follow: [Failed_to_Update.txt](https://github.com/f0cal/google-coral/files/3493191/Failed_to_Update.txt)
* Your host OS: Mendel OS (3.0 Chef)

Hello!

I have got a problem with updating my Google Coral Dev Board.
With the command:
sudo apt-get update
it won't work. => have a look at my attached file.
Because of this it is not working to install the edgetpu compiler. :/

[2019-08-14 19:53] rahul4tripathi2 opened #41 "no output when running fastboot devices command"
* Doc you were trying to follow: <https://coral.withgoogle.com/docs/dev-board/get-started/>
* Your host OS: <LINUX 18.04>
* Your Python3 version: <Python 3.6.8>

# What I ran
fastboot devices

# What the docs said should happen
1b0741d6f0609912        fastboot

# What actually happened
No output

[2019-08-16 10:02] prasad456 commented on #11
apt-get not working for mac os?

[2019-08-18 23:53] kflmiami420 commented on #38
trying again a new fresh install

I get this
pi@raspberrypize10:~ $ echo "deb https://packages.cloud.google.com/apt coral-cloud-stable main" | sudo tee /etc/apt/sources.list.d/coral-cloud.list
deb https://packages.cloud.google.com/apt coral-cloud-stable main
pi@raspberrypize10:~ $ curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
  % Total    % Received % Xferd  Avera

[2019-08-20 12:49] zubairahmed-ai opened #42 "ImportError: No module named 'edgetpu'"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/accelerator/get-started/
https://www.pyimagesearch.com/2019/04/22/getting-started-with-google-corals-tpu-usb-accelerator/

* Your host OS: Raspbian on RPi 3B+
* Your Python3 version: 3.5.2

# What I ran
python3 demo/classify_image.py  --model ~/edgetpu_models/mobilenet_v2_1.0_224_quant_edgetpu.tflite  --label ~/edgetpu_models/image

[2019-08-20 14:24] zubairahmed-ai commented on #42
This is due to the __init__.py not doing its job

As a workaround I had to remove `edgetpu` from all the import statements

`import edgetpu.classification.engine`

becomes

`import classification.engine`

and so on, anyone knows how to fix this?

[2019-08-20 17:28] kflmiami420 commented on #38
Update I was emailed by support from Coral Enviro sensor board and they suggested I run sudo apt update/upgrade .   I did and that Unable to locate package python3-coral-enviro error went away and not I get a new error.   But the board is not functioning

[2019-08-22 08:29] kflmiami420 commented on #38
Update I finally after re formatting multiple times  update and upgrade finally it works .

I would like now to change a few things like convert C to F   and kPa to mbar

does anyone know the file to make those changes in ?

[2019-08-22 23:13] arrow53 opened #43 "wrong ELF class: ELFCLASS32"
i'm running the warrior branch of yocto on the dev board. It has python3.7 installed so I did the trick with copying the swig wrapper from 35m to 37m.

When I try to run anything I get this though
[code]

does this look familiar to anyone? My OS is 64-bit I believe. And, I have the libedgetpu_arm64.so placed in /usr/lib

[2019-08-22 23:56] arrow53 commented on #43
i think i had the wrong arm version for the wrapper in place.

[2019-08-22 23:56] #43 closed, assigned to nobody

[2019-08-25 12:06] maartenterpstra commented on #38
I also got mine working. Turns out the Pi Zero W GPIO interface was broken. FYI, I got it working with a new Pi Zero W by installing Raspbian Stretch, running a `sudo apt update && sudo apt upgrade`, following the getting started guide and before running the demo enabling the SPI and I2C interface using `sudo raspi-config`.

@kflmiami420
Regarding your last question, in the `enviro_demo.py` file t

[2019-08-25 20:42] Sureshee opened #44 "Issues while Flashing the Board"
Hi,
Doc you were trying to follow:
I tried following the procedure given in the coral webpage.
https://coral.withgoogle.com/docs/dev-board/get-started/#requirements

Your host OS:
macOS Mojave 10.14.6

Your Python3 version:
Python 3.6.1

What I ran
It went through step 6 until "Download and flash the system image". When i execute  bash flash.sh, it always never exits out of this step. I don't get

[2019-08-26 02:32] kflmiami420 commented on #38
Thank you ,   I am looking to add some sensors via the I2C plug , but I have a question when I run from commad   i2cdetect -y 1   I get a lot of UU   instead of the proper address for the sensor .  Do you get the same readings on your board ?

[2019-08-26 02:33] kflmiami420 commented on #38
this is what I get now

pi@raspberrypize10:~ $ i2cdetect -y 1
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
20: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
30: 30 -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
40: UU -- -- -- -- UU -- -- -- UU -- -- -- -- -- --
50: -- -- -- -- -- -- -- -

[2019-08-26 02:36] kflmiami420 commented on #38
I wanted to share this link to my post on another site forum about this board

https://www.raspberrypi.org/forums/viewtopic.php?f=45&t=249302

[2019-08-26 20:10] maartenterpstra opened #45 "Accuracy Temperature/Humidity sensor"
---
name: Accuracy of the HDC2010 - Temperature and Humidity sensor
about: You tried something from Google's docs and it didn't work as expected.
title: ''
labels: ''
assignees: ''

---

# What I ran
I'm running the example code `enviro_demo.py` provided by the Python3 package on a Raspberry Pi Zero W

# What the docs said should happen
It should display the temperature, relative humidity, ambient

[2019-08-27 02:27] habakan opened #46 "RuntimeError: Error in device opening"
- Doc you were trying to follow: https://coral.withgoogle.com/docs/accelerator/get-started/
- Your Host OS: ubuntu 16.04 tegra (Jetson TX2)
- Your Python3 version: python3.5

# What I Ran
I installed and ran example files in https://coral.withgoogle.com/docs/accelerator/get-started
[code]

# What the docs said should happen

You should see results like this:

[code]

# What actually happend
[code]

[2019-08-27 08:25] lunzueta opened #47 "Can't get my own videos working with edgetpu_demo"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/dev-board/get-started/#run-a-model-on-the-edge-tpu
* Your host OS: Ubuntu 16.04.6 LTS (host PC) and Mendel 3 (Google Coral Board)
* Your Python3 version: 3.5.3 (Google Coral Board)

# What I ran
I just wanted to execute the edgetpu_demo bash script in the Google Coral Board, but replacing the videos that it brings by default (video

[2019-08-29 23:33] Jconn opened #48 "munmap_chunk(): invalid pointer"
I'm running object detection on the edgetpu usb accelerator with the python api at 30Hz on 300x300 RGB. The function that I'm using for inference is:
`            DetectWithInputTensor(flattened_img,threshold=.1,top_k=10)
`
Every 30 seconds or so my program crashes with an error related to memory alloc/dealloc, such as:
 `munmap_chunk(): invalid pointer` or` free(): invalid next size (fast)
`

I g

[2019-08-30 23:26] Jconn commented on #48
tried out the tensorflowlite api as described [here](https://coral.withgoogle.com/docs/edgetpu/tflite-python/) rather than the edgetpu api, and I'm no longer getting memory errors all over the place. The edgetpu python lib just isn't ready, I guess. Closing this.

[2019-08-30 23:26] #48 closed, assigned to nobody

[2019-09-03 17:04] brian-yu commented on #41
Also running into this problem on MacOS 10.14.6, Python 3.6.7, and fastboot version 29.0.2-5738569.

[2019-09-04 20:37] Namburger commented on #13
it's possible that you just have 2 python version installation also and the one your're using just happen to not be linked to
"/usr/local/lib/python3.6/dist-packages"

if it's not in the out put of this:

```$ python3 -c 'print(__import__("sys").path)```

then you may need to use your system python instead

[2019-09-05 16:41] mrusme commented on #46
@habakan your user is not in the correct set of groups that allow access to the device. Either add your user to the correct group or run as root.

[2019-09-07 04:16] victor045 commented on #44
Had the same problem, I just changed the power adapter to a bigger one with more amperes.

![WhatsApp Image 2019-09-06 at 11 12 51 PM](https://user-images.githubusercontent.com/43472498/64469703-54874d00-d0fc-11e9-94b2-dcea68635575.jpeg)
.

[2019-09-08 12:41] #44 closed, assigned to nobody

[2019-09-09 02:23] habakan commented on #46
@mrusme
Thank you comments.
I ran as root, but the same error happened.

[2019-09-09 08:53] EspenTeigen commented on #40
Same problem here. Any solution?

[2019-09-09 08:59] scch-sims commented on #40
It worked for me after I used an unlimited network over the hotspot of my phone ^^
I just had the problem that the companies network was restricted.

Hope you can solve it!

[2019-09-09 09:00] #40 closed, assigned to nobody

[2019-09-09 09:56] EspenTeigen commented on #40
I was on mobilenetwork for the same reason. Ended up re-flashing the dwv board, it works now.

[2019-09-09 13:40] Mxgra commented on #20
Heyo marcel1991,

did you make any progress or could you confirm it was the input size of the model that caused your problems? With what input size were you working?
I'm currently trying to do a keyword recognizer and am running into the undefined error too. But if I check the input size of a mobilnet.lite model, it's 244x244x3 which is way bigger than the arrays I'm working with (as long as I don

[2019-09-09 15:25] Ferdostassa commented on #24
Hi, i ave got exact same error. I get a Cam black screen , when I attempt to open it in browser e.g. 192.168.100.2:4664  with Incetionv3.

Appreciate if anyone can shed light as how to resolve the issue.

[2019-09-10 15:20] langersteff commented on #46
Same here unfortunately. Has anyone found a fix yet?

[2019-09-12 10:23] mcanerim opened #49 "Coral get's hot and doesn't activate the FAN causes: mmcblk0: error -84 transferring data"
I'm simply running a pip3 install face_recognition and after everything is downloaded successfully I'm getting the following error while the Coral Board tries to run the setup.py for the package.

The error is as following,

[ 4654.563095] mmcblk0: retrying using single block read
[ 4664.981981] mmcblk0: error -84 transferring data, sector 9880576, nr 256, cmd response 0x900, card status 0xb00
[ 4

[2019-09-16 12:00] LudoS0 commented on #13
Hi @ECE-Engineer, how did you rename a file in that directory? I couldn't rightclick>rename, like it was blocked for renaming. By the way I'm using Xavier. Thanks!

[2019-09-16 14:06] mcanerim commented on #49
The current thing is that I have discovered that when properly cooled the problem does not occur. I have connected the FAN of the coral board into an external power source to keep it running all the time, but this is no solution to hold on for me.

[2019-09-16 18:48] dksim commented on #46
Try
` sudo usermod -aG plugdev YOURUSERNAME`
and reboot

[2019-09-18 02:38] habakan commented on #46
@dksim
Thank you.
I tried it but it was same error...
I contacted coral-support team about this problem.
I received a reply "We do not officially support USB Accelerator with Jetson TX2 as of now" .

[2019-09-22 07:20] powderluv commented on #13
I had python3.7 (built mendel from master branch) so I did:

cd /usr/lib/python3/dist-packages/edgetpu/swig/
sudo ln -s _edgetpu_cpp_wrapper.cpython-35m-aarch64-linux-gnu.so _edgetpu_cpp_wrapper.cpython-37m-aarch64-linux-gnu.so

[2019-09-25 17:12] Namburger commented on #20
Hi @caiya55 hope you figured out your issues.
For future references, the quantization step that you did to convert the graph.pb model to a tflite model does optimization on it so the output of Uint8 form Float32 is correct.
As for compiling models, the edgetpu_compiler can now be downloaded and install directly on a host machine so you can just compile your tflite model and scp it to your board. H

[2019-09-26 17:40] hansamann commented on #13
I am on raspbian buster and followed this advice:

sudo cp _edgetpu_cpp_wrapper.cpython-35m-arm-linux-gnueabihf.so _edgetpu_cpp_wrapper.cpython-37m-arm-linux-gnueabihf.so

When I now execute my python file, the error is a different one:

root@487cac231a2a:/app# python3 mirror.py
Traceback (most recent call last):
  File "mirror.py", line 6, in <module>
    from teachable import initialize
  File "

[2019-09-26 17:52] ckuethe commented on #13
The problem is `ImportError: libunwind.so.8: cannot open shared object file: No such file or directory`

You need to install libunwind. Start with `apt search unwind` to see what version is available for your machine

[2019-09-27 02:33] zorrobyte commented on #15
Lol, my fan temp in that file was 65000 @lleonid - factory install, upgraded.

edit, the changes aren't persisting between reboots. Fml

[2019-09-27 03:43] zorrobyte commented on #49
Same here, crashes every time I try to compile something in C. I even tried setting the fan to 100%
libtool: compile:  g++ -DHAVE_CONFIG_H -I. -I./src -I./src -DKJ_HEADER_WARNINGS -DCAPNP_HEADER_WARNINGS -DCAPNP_INCLUDE_DIR=\"/usr/local/include\" -pthread -fPIC -pthread -MT src/capnp/compiler/lexer.lo -MD -MP -MF src/capnp/compiler/.deps/lexer.Tpo -c src/capnp/compiler/lexer.c++ -o src/capnp/compi

[2019-09-27 03:51] zorrobyte opened #50 "Edit: Google Coral Dev board fixes"
Edit: Read below

Board is being returned.

Installed, installed latest updates. Repeated several times between these issues.

/sys/class/thermal/thermal_zone0/trip_point_4_temp has a default temp set of 65000 degrees before the fan turns on. Changes to this file doesn't persist between reboots.

Wifi needs to be manually reconnected every single time.

Compiling C code results in a hard lock afte

[2019-09-30 16:37] zorrobyte commented on #50
There is a tech assigned to this, so I'll provide an update. I'd like to keep and use the board if possible!
Pardon my frustration, I had high expectations of Google Coral!

Here's a really simple test. Try compiling:
[code]
https://capnproto.org/install.html

Mine locks up almost immediately!

[2019-10-01 03:40] zorrobyte commented on #50
- There is only 1GB of RAM. Running out of RAM crashes the board. Allocate a swapfile
- Format and mount an SD card as the onboard 8GB is tiny
- Allocate the swap on the SD so you don't kill the onboard flash
- My wifi issues were due to weak signal. Coral has some weaksauce wifi antennas. Connect via ethernet cable
- None of these issues are due to thermals. The fan just doesn't run that often.

[2019-10-01 03:50] zorrobyte commented on #49
@mcanerim this is due to running out of RAM. Allocate a swapfile

[2019-10-03 09:18] sanchitjain04 opened #51 "EdgeTPU library is not updating for dev board"
* Doc you were trying to follow: https://coral.withgoogle.com/news/updates-07-2019/
* Your host OS: Ubuntu 16.04
Python3 version: 3.5.3

I executed the commands as mentioned in the post as mentioned above :

sudo apt-get update

sudo apt-get dist-upgrade

this automatically updates the edgetpu library along with other Mendel system software.

As per the post it should have updated the library but

[2019-10-04 19:29] iatkinson commented on #46
I'm on the same platform (TX2) and following https://coral.withgoogle.com/docs/edgetpu/api-intro/ (which looks like the same example).  I originally had this same error and after following @dksim am able to run on the USB edgeTPU from Jetson:

$ cd /usr/share/edgetpu/examples/
$ python3 classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --label models/inat_bird_la

[2019-10-05 02:44] habakan commented on #46
@iatkinson
Thank you comments!
I confirmed to run by your and @dksim's method!
It seems my method of installation is different from in your provided url.

I installed following script. This Script is failed to run.
[code]

By reinstall using this method, I can run on EdgeTPU Accelarator!

[code]

Thanks for everyone!

[2019-10-05 02:46] #46 closed, assigned to nobody

[2019-10-08 04:07] dbaba opened #52 "Mendel Linux Release 3.0 Chef (Apr 2019) Source Code Location/Tag"
I'm looking for [Mendel Linux Release 3.0 Chef (Apr 2019)](https://coral.withgoogle.com/resources/#mendel-linux-os) Source Code in order to build some missing kernel modules on the prebuilt image but I couldn't identify the location and the actual tag/branch.

There are a lot of [repos at googlesource.com](https://coral.googlesource.com/?format=HTML) and I found these candidate repos in the page.

[2019-10-08 21:33] lleonid commented on #52
https://coral.googlesource.com/docs/+/refs/heads/release-chef/GettingStarted.md explicitly tells how to build Chef version.

[2019-10-08 21:46] lleonid commented on #27
pip3 install --user mendel-development-tool
is the way on arm64 platforms.

[2019-10-08 21:48] lleonid commented on #49
Upcoming mendel release should address original problem.

[2019-10-08 21:50] lleonid commented on #50
mmcblk0: error -84 transferring data ...
Should be fixed in the upcoming mendel release.

[2019-10-08 21:53] lleonid commented on #45
It could be higher because the sensor on hat is heated by the dev board itself.
You can use extension cable to position hat further from dev board.

[2019-10-09 01:18] jisooyu opened #53 "errors broke out during compliation of tflite file for edgetpu"
Instructions followed: compilation instructions listed on https://coral.withgoogle.com/docs/edgetpu/retrain-detection/
OS: Host: Mac Mojavee 10.14.8 Local: Ubunbu 18.04 on Virtual Box
Scripts ran : jisooyu@jisooyu-VirtualBox:/usr/bin/edgetpu_compiler_bin$ edgetpu_compiler -s  output_tflite_graph.tflite
Output generated:
Edge TPU Compiler version 2.0.267685300

Model compiled successfully in 313 ms

[2019-10-10 06:46] kflmiami420 opened #54 "Coral Enviro Sensor Board Stopped working"
Traceback (most recent call last):
  File "/home/pi/enviro_demo-4.py", line 81, in <module>
    main()
  File "/home/pi/enviro_demo-4.py", line 62, in main
    sensors['temperature'] = enviro.temperature * (9.0 / 5.0) + 32
TypeError: unsupported operand type(s) for *: 'NoneType' and 'float'

I had this line working to convert from C to F but now it says its unsupported

[2019-10-11 18:20] Kuan-ChiehHsu commented on #20
I tried to convert mobilenetv2 model into post-training quantized tflite model, and I got the following message:
[code]

I can't figure out why only QUANTIZE and DEQUANTIZE operations are not supported for coral dev board.

Here is my python API code:
[code]
Maybe it doesn't matter. But later when I run it on edgetpu by using label_image.py example code, it shows the following error:
[code]

Does

[2019-10-11 18:39] Namburger commented on #20
@jk78346 what compiler version are you running?
Have you tried running visualize tool on your model to see it meets all requirements?

[2019-10-11 19:14] Kuan-ChiehHsu commented on #20
HI, my edgetpu compiler version is: 2.0.267685300
also I use netron to visualize the model and it looks like this:
![Screen Shot 2019-10-11 at 12 12 47 PM](https://user-images.githubusercontent.com/11538495/66678372-98e89a00-ec20-11e9-9bbd-d295aa0d9208.png)

[2019-10-11 19:31] Namburger commented on #20
Looks like you're up to date on your compiler.
Could you try this one, actually?
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/visualize.py
The reason why I ask this, is because the out put actually show all ops and tensor inputs.

[2019-10-11 20:25] Kuan-ChiehHsu commented on #20
Yes, I got the foo.html file and it seems like the same case that only an edgetpu-custom-op in between, no other detail layers displayed.

I think my question is:
What is the output type of converter.convert() ?
it gives me "bytes" and so far I don't know if this is a valid model for run.

[2019-10-11 21:06] Namburger commented on #20
@jk78346 bytes type is correct for the model, I'm saving mine in such manor:
[code]
does foo.html shows any float32 or any unusual types on the "type" column?
all the step you've taken so far looks correct to me, how did you train your model?

[2019-10-11 21:26] Kuan-ChiehHsu commented on #20
Yes it has float32, hmm.

0 | Identity_int8 | INT8 | [1, 1000] | 0 | {'zero_point': [-128], 'details_type': 'NONE', 'scale': [0.003906], 'quantized_dimension': 0}
-- | -- | -- | -- | -- | --
1 | input_1_int8 | INT8 | [1, 224, 224, 3] | 0 | {'zero_point': [-128], 'details_type': 'NONE', 'scale': [0.003922], 'quantized_dimension': 0}
2 | input_1 | FLOAT32 | [1, 224, 224, 3] | 0 | {'details_type': 'N

[2019-10-13 21:44] kflmiami420 commented on #54
another error today pi@raspberrypize10:~ $ python3 enviro_demo-4.py
No valid config provided (reading cloud_config.ini).
Cloud IoT is disabled.
Traceback (most recent call last):
  File "enviro_demo-4.py", line 81, in <module>
    main()
  File "enviro_demo-4.py", line 70, in main
    sensors['pressure'] = enviro.pressure * 10.0
TypeError: unsupported operand type(s) for *: 'NoneType' and 'float'`

[2019-10-13 22:35] kflmiami420 commented on #54
I comment the * 10 from that line    I dont get a kpa reading , The displays shows nan as a value

[2019-10-15 20:25] Kuan-ChiehHsu commented on #20
after some search, I'm not sure if the
[code]
actually give quantized input/output type.

Because now every intermediate layer seems ok except the input/output layers.

[2019-10-16 22:05] rahul4tripathi2 commented on #41
Hi I've solved this problem
Solution -  please try with multiple type C cables until fastboot devices show your devices for me 3rd time changing type C worked!!!.

[2019-10-16 22:05] #41 closed, assigned to nobody

[2019-10-16 22:08] rahul4tripathi2 commented on #35
better to install like this

go to your terminal and hit command line by line

# Add the repo:
echo "deb https://packages.cloud.google.com/apt coral-mdt-stable main" | sudo tee /etc/apt/sources.list.d/mdt.list

# Add Google keys
curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -

# Then install the package:
sudo apt-get update

sudo apt-get install mendel-development-t

[2019-10-17 17:16] Namburger commented on #51
Ahh if you have mendel 2.0, dist-upgrade won't do it. Unfortunately for now, you'll need to reflash the board with the newest image.

[2019-10-17 22:20] JVTEAM commented on #27
Doesn't work on the Jetson Nano

[2019-10-21 14:06] #52 closed, assigned to nobody

[2019-10-22 20:53] zvit3k commented on #53
Hi @jisooyu

As you can see model is correctly compiled. The issue is probably related to the privileges on the command you want to execute.

Try **sudo** edgetpu_compiler output_tflite_graph.tflite

I hope it helps.
Witek

[2019-10-23 10:31] TannerGilbert commented on #34
Fixed with the BasicEngine or using the tflite runtime

[2019-10-23 10:31] #34 closed, assigned to nobody

[2019-10-26 23:28] JeanCarm commented on #42
Hi. Did you figure out the problem? I'm having the exat problem. Can you help me please?

[2019-10-29 10:59] hacker-h opened #55 "kernel feature "cgroups freezer" missing"
Mendel GNU/Linux 3 (Chef) lacks of the cgroups freezer kernel feature, which is mandatory for e.g. kubernetes. Can it be patched?

[2019-10-29 11:00] hacker-h opened #56 "CONFIG_NETFILTER_XT_MATCH_COMMENT not set"
`CONFIG_NETFILTER_XT_MATCH_COMMENT` is not set which will cause trouble when loading iptables rulesets with comments.

[2019-11-02 15:59] PjotrG commented on #42
Getting exact the same comment, any idea????

[2019-11-02 17:21] JeanCarm commented on #42
Hey man, I reinstalled the edgetpu library and it worked for me. https://coral.withgoogle.com/docs/edgetpu/api-intro/
Let me know if it works and also what type of project are you working on?
@PjotrG

[2019-11-02 17:56] PjotrG commented on #42
Thanks Jean for quick response, I tried already to reinstall the

library -but will try again tomorrow..

Concerning projects: I just started with the Coral Edge TPU and installed

Mike Tykas teachable machine --which worked fine in the beginning

but failed now (very frustraiting).

I planned to combine the TPU with a robot arm or the Monsterborg

but just started....

I will try again and will l

[2019-11-03 07:29] PjotrG commented on #42
Jean, thanx once again for your advice.

Tried once again to upload, got this:

 

pi@raspberrypi:~ $ sudo apt-get install python3-edgetpu
Reading package lists... Done
Building dependency tree        
Reading state information... Done
python3-edgetpu is already the newest version (12-1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

 

when I try to run one of the examples I get

[2019-11-04 02:11] zubairahmed-ai commented on #42
@PjotrG

Did you try my workaround?

[2019-11-04 07:19] PjotrG commented on #42
@zubairahmed-ai
Traceback (most recent call last):
  File "/home/pi/Myprojects/Edgetpu/edgetpu-master/examples/classify_capture.py", line 20, in <module>
    from classification.engine import ClassificationEngine
ImportError: No module named classification.engine
yes..like this? failed as well ???????

[2019-11-05 19:17] PjotrG commented on #42
@zubairahmed-ai
started everything new with image backup, looks much better but new error showed up, something to do with "loading requirements"???
File "classify_image.py", line 18, in <module>
    from edgetpu.utils import dataset_utils
ImportError: cannot import name 'dataset_utils'

[2019-11-06 04:16] zubairahmed-ai commented on #42
Yes like that, you have to go in each sub-file that the main script is calling and change it there. Tedious but once done it worked for me.

[2019-11-13 16:38] xadrianzetx commented on #20
I've got similar problem as @jk78346

After converting with with flags
[code]

using latest nightly, ```tf.lite.Interpreter().get_input_details()``` yields:

[code]

and  ```tf.lite.Interpreter().get_output_details()```:

[code]

However converter still succeeds with log

[code]

But I still get RuntimeError on Edge TPU

[code]

[2019-11-13 17:15] mmortazavi commented on #32
I am struggling to make up and running. From @adr-arroyo recommendation I managed to install the docker successfully on the board, and hello-world works too. In my case I am trying to run the `gcr.io/automl-vision-ondevice/gcloud-container-1.12.0` (see [here](https://cloud.google.com/vision/automl/docs/containers-gcs-tutorial)) on the board for my custom object detection model. Everything works fi

[2019-11-14 07:36] adr-arroyo commented on #32
Hello @mmortazavi

I am sorry but I do not remember if I made it work any other container on the coral. I had to stop working on it. However, I do not remember seen this errors, did you follow the steps for the arm installation?

Regards

[2019-11-14 12:56] mmortazavi commented on #32
Hi @adr-arroyo Thanks for your quick feedback. I see. I thought you continued working on it. Yes I did follow the arm installation. I have already tried a few ways to run docker images customized for my use case, none of them worked! Would you mind opening this ticket again and perhaps change the title to 'Install and Run Docker on Google Coral Dev Board'? I rather have this in this issue and not

[2019-11-15 07:12] adr-arroyo commented on #32
It's done @mmortazavi :)

Hopefully there is someone else trying this and has some more info for us.

[2019-11-15 08:04] mmortazavi commented on #32
Thanks @adr-arroyo. For some reasons I thought this repo is the official google-coral one, but it is not! I may bring the question to the original repo!

[2019-11-15 08:23] adr-arroyo commented on #32
It's okay @mmortazavi  ;)

But please, reference this issue on the comments of the issue in the original repo!

[2019-11-15 12:50] mapeima commented on #20
I have found [here](https://coral.withgoogle.com/docs/edgetpu/models-intro/#quantization) that TensorFlow 2.0 supports only float input/output. That is the reason why my simple mnist test model compiles like this:
[code]
The solution is to downgrade to version 1.15.

[2019-11-15 21:43] Kuan-ChiehHsu commented on #20
For preparing .tflite model, I use tf=1.13.1 as well as tflite_convert from command line; when running tf2.0 is used since I want to use delegate.

[2019-11-16 11:36] PjotrG commented on #42
@zubairahmed-ai @JeanCarm
Got it all (examples object detection/image classification, teachable machine) working again after installing everything new, looking forward now for learning more and own projects, thank you both for encouragement and help! which projects are you working on? Peter

[2019-11-16 12:32] zubairahmed-ai commented on #42
@PjotrG I am not working on anything right now, what about you?
I'm looking forward to using it after reading some use cases from [Adrian's upcoming book](https://www.pyimagesearch.com/2019/04/05/table-of-contents-raspberry-pi-for-computer-vision/)

[2019-11-17 11:04] michaelcolville opened #57 "Mendel Release 4.0 (day) system image download missing"
The Mendel Release Notes state that the latest version is 4.0 (day) - https://coral.googlesource.com/docs/+/refs/heads/master/Releases.md

The flashing instructions for the Edge TPU board still reference 3.0 (chef) - https://coral.ai/docs/dev-board/get-started/#2-execute-the-flash-script

The software image download page only references 3.0 (chef) - https://coral.ai/software/

I need the 4.0 relea

[2019-11-19 10:40] michaelcolville commented on #57
The latest 4.0 (day) build is now available - https://coral.ai/software/

[2019-11-19 10:40] #57 closed, assigned to nobody

[2019-11-19 16:22] rahul4tripathi2 opened #58 "Key not present on wishful-yarn -- pushing"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/dev-board/get-started/
* Your host OS: Ubuntu 18.04.3 LTS
* Your Python3 version: python 3.6.8

# What I ran
mdt shell

# What the docs said should happen
it should connect dev board using type-c cable

# What actually happened
rahul@ubuntu:~$ mdt shell
Waiting for a device...
Connecting to wishful-yarn at 192.168.101.2
Key not pre

[2019-11-20 11:23] rahul4tripathi2 commented on #58
Issue Fixed

Steps

1.  Connect your dev board via serial cable and login [Ist terminal].
2.  Once login hit sudo reboot-bootloader to put devboard in fastboot mode.
3. Open 2nd terminal and perform below steps to flash mendel linux

cd $HOME/Downloads

curl -O https://dl.google.com/coral/mendel/enterprise/mendel-enterprise-chef-13.zip

unzip mendel-enterprise-chef-13 \
&& cd mendel-enterprise-che

[2019-11-20 11:23] #58 closed, assigned to nobody

[2019-11-25 09:17] PjotrG commented on #42
@zubairahmed-ai  I just installed the detect.py (https://github.com/google-coral/examples-camera/tree/master/gstreameron) with minor modifications on my robot arm (OWI 535): the gripper holds the camera and the arm follows a defined object detected (somehow similar to https://github.com/google-coral/project-banana-robo/blob/master/detect_standalone.py) it went "surprinsingly" well.
I now want to e

[2019-11-27 08:51] rahul4tripathi2 commented on #58
correct solution incase you want to stick with new solution
https://stackoverflow.com/questions/58938727/unable-to-connect-google-coral-using-otg-port/59035796#59035796

[2019-11-27 09:13] rahul4tripathi2 opened #59 "ModuleNotFoundError: No module named 'cv2' in google coral mendel 4.0"
https://coral.withgoogle.com/news/updates-11-2019/

As per above google coral November updates new Mendel 4.0 has the support of OpenCV but when I installed Mendel 4.0 it is unable to import cv2. Please let me know do I've to follow any further steps to install OpenCV in Mendel 4.0

[2019-11-27 16:22] Namburger commented on #59
@rahul4tripathi2
[code]
should do the trick!

[2019-11-27 17:27] jonasl commented on #42
The python module edgetpu is in the python3-edgetpu package.
sudo apt-get install python3-edgetpu

[2019-11-28 07:39] rahul4tripathi2 commented on #59
It is not working!!!

[2019-11-28 08:33] Namburger commented on #59
@rahul4tripathi2
What error are you seeing?

Also, sorry, are you using python2 or python3?
With python2 it should be
[code]

[2019-11-28 09:08] rahul4tripathi2 commented on #59
I'm using python3  mendel@purple-dog:~$ sudo apt-get install python3-opencv
Reading package lists... Done
Building dependency tree... Done
E: Unable to locate package python3-opencv

[2019-12-02 14:36] Namburger commented on #59
@rahul4tripathi2 after flashing the board, did you connect it to wifi and [update the OS](https://coral.withgoogle.com/docs/dev-board/get-started/#4-update-the-mendel-software)?
[code]
I just re-flashed my board with mendel day and it had no issue installing it:
[code]

[2019-12-09 15:33] Hammie217 commented on #22
Whilst using periphery within a venv as above i'm getting the following error. Any idea where this is coming from?

Thanks,

[code]

[2019-12-09 19:33] pliablepixels opened #60 "Parse error in /etc/sudoers near line 28 when doing `sudo apt-get update`"
* Doc you were trying to follow: https://coral.ai/docs/dev-board/get-started/
* Your host OS:  OSX Mojave 10.14.6
* Your Python3 version: 3.6.8 (host)

# What I ran
[code]

# What the docs said should happen
Should initiate packages updates (step 1 of 2)

# What actually happened
[code]

**More info:**
Production  date of Coral 9327A
I don't see any information on how to get root access, so I can

[2019-12-09 21:40] pliablepixels commented on #60
closing - reflashing again worked

[2019-12-09 21:40] #60 closed, assigned to nobody

[2019-12-12 14:43] sdu2011 commented on #20
老哥中国人？你用这段代码没问题吗？我有一个 quantization-Aware Training model,转成tflite. float和int映射应该是zero_mean=128,scale=1/128 而且我自己写代码加载tflite做分类是没问题的.  但是不知道为什么,在coral上用编译后的edgetpu.tflite做推理
[code]
我加了打印,发现out_tensor->params.zero_point=0，out_tensor->params.scale=1/255

[2019-12-12 20:03] Namburger commented on #32
Hi guys, Nam from Coral team here, installing docker binary is pretty straight forward for mendel day:
[code]
That's all.

if you want to run docker, first make sure the docker daemon is up with (you'll need to do this every time you reboot the board):
[code]
test:
[code]
Do this if you don't have the desire to sudo anything:
https://docs.docker.com/install/linux/linux-postinstall/

[2019-12-13 13:52] pliablepixels commented on #5
A lot of issues here are marked as tutorial, but I don't see instructions in them. Are they work in progress?

I just installed a 128GB SD card in my coral board.
I am looking to achieve 2 things:

a) A permanent 1GB swap file in the SD card
b) "Extend" my '/home/mendel" directory to also include space from the SD card whilst not losing any existing data

Is that possible? Would someone mind posti

[2019-12-13 13:55] pliablepixels commented on #6
@brianthelion would you mind posting instructions for this?

[2019-12-13 15:01] pliablepixels opened #61 "Tutorial: Adding a swap file and moving /home to an SD card"
I thought it might be useful to document the steps to resolve #5 and #6. I'm not an embedded person by any means, so feel free to correct/suggest improvements:

Here is what I did - I added a 128GB micro SD card to the coral board and wanted to do the following:

a) Migrate my existing `/home` to my sd card
b) Set up a 1G swap file, but set a low swapiness value, so its only used when really neede

[2019-12-13 15:22] Namburger commented on #32
Here is also an example Dockerfile:
https://gist.github.com/Namburger/ceb384626657963f27da18d8a5080486

[2019-12-17 19:26] nopphons commented on #37
@jleibund any updates on this? I got the same issue. Have you solved it already?

[2019-12-18 21:52] ramunelluri184 commented on #32
Hey.. I am trying to configure kubernetes on coral board, which depends on docker installation. I followed your comment and installed docker. everything works but i could not start the "_docker.service_" through "_systemctl_" command, in turn kubernetes throws the same error. could you please help me out in this case?

[2019-12-19 15:51] makepluscode opened #62 "How to build a SDK for cross compiling on ubuntu?"
Could you please,
let us know how to build a SDK for cross compiling on ubuntu?

I want to make own application with the SDK, so I need header files, .so libraries, and build toolchains.

Thanks!

[2019-12-19 15:55] #62 closed, assigned to nobody

[2019-12-23 14:49] vkolli3 opened #63 "Google Coral Dev Board cannot connect to MDT shell"
I followed getting-started guide of the Coral Dev Board  provided by Google: Get started with the Dev Board then I reached the title "Connect to the board's shell via MDT" but I received the following error message:
[code]

I connected the Devboard using USB-C data port labeled "OTG" on the Dev Board. I am using Ubuntu 18.04.3 LTS OS on my host computer.Also, the device is successfully detected wi

[2019-12-23 16:19] vkolli3 commented on #63
I resolved it by using the solution proposed by rahul4tripathi2 at
https://github.com/f0cal/google-coral/issues/58.

Thank You Rahul

[2019-12-23 16:19] #63 closed, assigned to nobody

[2020-01-02 19:17] dinghuawen opened #64 "how to set auto-start a application？I can not find rc.local in /etc ."
how to set auto-start a application？I can not find rc.local in /etc

[2020-01-04 21:18] PizzaMargherita21 commented on #42
Hi guys! I had the same issue and solved it by Installing the Edge TPU library as follows

[code]
Link: https://coral.ai/docs/edgetpu/api-intro

[2020-01-06 08:27] rahul4tripathi2 commented on #59
following below link solved my problem
https://stackoverflow.com/questions/59066643/modulenotfounderror-no-module-named-cv2-in-google-coral-mendel-4-0/59077513?noredirect=1#comment104510616_59077513

[2020-01-06 08:27] #59 closed, assigned to nobody

[2020-01-06 15:21] cgillions commented on #42
I'm able to `import edgetpu` outside of a virtual environment, but inside, I get this error.
I create the virtual environment using `python3 -m venv env` _after_ running `apt-get install python3-edgetpu` but to no avail. Any suggestions?

[2020-01-07 15:14] Namburger commented on #32
@ramunelluri184 my apologies, I didn't see this earlier. I'm not too familiar with kubernetes, but if you think the docker binary installation method from above is causing this issue, you can try this instead (this way you can have the full debian package):
[code]
Hope this helps!

[2020-01-08 11:04] mbcel commented on #53
Furthermore it seems that as the compilation states that your whole model will not completely run on the edgetpu which probably results in very slow inference time. Dpending on the possition of the unsupported layer.

[2020-01-14 14:53] ramunelluri184 commented on #32
Thanks a lot. this worked like a charm and docker is running successfully as a _systemd_ service.

[2020-01-15 02:10] coollofty opened #65 "How to quantify a trained model without its original database?"
I have a trained .tflite model file, I want to run this model on a coral usb , so I need to quantify it as an Int8 type but the original file is gone. How do I accomplish this? Thanks!

[2020-01-15 22:02] ghost opened #66 "Julia language with Coral board"
Hi

I am doing a research where I have to do a benchmark between a PC with GPU vs the Coral board’s TPU. And I have to use Julia.

I need some guidance. For example, I have found TensorFlow.jl (https://github.com/malmaud/TensorFlow.jl). But  do not know how it will help me as the Coral board uses TensorFlow Lite. And I am just starting with it.

Any help on how to get started will be appreciated.

[2020-01-16 21:36] ghost commented on #66
![image](https://user-images.githubusercontent.com/12815073/72564518-e575ee00-387d-11ea-841b-96647a428eba.png)

My plan is to use TensorFlow.jl to create the models. Then I will convert them into TensorFlow Lite.

It should work as in this video: https://www.youtube.com/watch?v=n2MwJ1guGVQ  (minute 4 with 13 seconds); the presenter says that it is possible to work with people who use Python or Jul

[2020-01-19 16:43] GOBish opened #67 "Track a specific person/object"
Hi!
I am using coral in a robot application and was hoping someone could point me in the right direction.
I have a tensor flow model working well, performance is great.
I am working on a person following project, where I would like to designate one person to follow. This can be done manually (don’t need facial recognition or anything like that). Then I would like to have the robot “lock on” to tha

[2020-01-19 22:53] brianthelion commented on #67
@GOBish Can you clarify which view of the person the robot will follow? If the tracking algorithm is "designated" to a frontal view of the human and meant to track that same view, then any classic tracking algorithm will do a reasonable job assuming minimal occlusion. If, however, you want to designate to the frontal view and then track the target from behind (as would be the case with a following

[2020-01-19 23:36] GOBish commented on #67
Thank for the reply @brianthelion ! Would be tracking the rear view of the person.
If it helps, can designate the rear view of the person to track at the outset.
Are you talking about tracking algorithms like those in openCV or a tensor flow one on Coral?

[2020-01-22 19:55] aaroninaustin commented on #64
So you'll want to use `systemd` - I hadn't done it in a while myself and followed this guide:

https://www.digitalocean.com/community/tutorials/how-to-use-systemctl-to-manage-systemd-services-and-units

My only tips to add would be that actually create the services file you'll edit a new one and get a blank file to drop the service config in...

`sudo systemctl edit yourapp.service`

From that poi

[2020-01-31 02:42] yieniggu opened #68 "Can't install scipy module on Coral Dev Board"
I'm trying to install scipy module with:

`pip install scipy `

and this is the output I get:

[code]

Any help would be apreciated, Regards.

[2020-01-31 13:12] brianthelion commented on #68
`sudo apt-get install python-dev` as indicated by the error message. If you want software-accelerated numerical operations, it's telling you that there are some other things for you to install as well.

Learning to read the Python installer output and figure out what system packages are missing is a bit of an art, but please try before posting.

[2020-01-31 13:33] yieniggu commented on #68
I tried that and didn't work, looks like you're a pretty smart artist.

`sudo apt-get install python-numpy` did the work :)

[2020-01-31 16:28] #68 closed, assigned to nobody

[2020-02-04 16:54] Valdiolus opened #69 "Deeplabv3 cityscape conversion"
Hi!
I am looking for deeplabv3 model with cityscape pretrained, optimized for edgetpu (edgetpu.tflite) with max fps rate.
Trying to convert from "mobilenetv3_small_cityscapes_trainfine" .pb file by myself from [url](https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/model_zoo.md) but no luck - dimensions of the input of the model is surprisingly 1029*2050, and issues like this

[2020-02-04 18:02] iitgrad opened #70 "mdt devices doesn't return anything on MacOS X Catalina"
* Doc you were trying to follow: Basic setup instructions from google.
* Your host OS: Mac OS X Catalina
* Your Python3 version: 3.73

#
mdt devices

# What the docs said should happen
a device should be listed

# What actually happened
no devices found

[2020-02-09 13:29] brianthelion commented on #67
@GOBish If you can designate the rear view of the person, and the scene is relatively uncluttered -- ie, no crowds of people, no major occlusions -- then OpenCV tracking will do fine to start.

[2020-02-09 13:44] GOBish commented on #67
What tracker are you using?

[2020-02-10 19:03] Ryan-Johnson-1315 commented on #53
I am having the same problem. The model will compile successfully. When I run it on with my TPU it throws these errors:
`Null custom op data
Node number 0 (edgetpu-custom-op) failed to prepare.
`

Any suggestions?

[2020-02-11 13:01] aeropia commented on #42
I'm having the same issue in RPi 4B (no virtual env).
Unistall and reinstall does not remove the problem.
Any solution yet?

+ Update the workaround I have found:
I have added following statement in my .profile and now the edgetpu modules can be imported.

export PYTHONPATH=$PYTHONPATH:/usr/lib/python3/dist-packages:/usr/local/python3.7/dist-packages

[2020-02-12 13:04] Prem95 commented on #70
There are some things you could try to solve this:

1) run `kextstat`
You must be able to see this below. If not, enable it [Here]. (https://www.silabs.com/community/interface/forum.topic.html/unable_to_installvc-MWVe)

` 216    0 0xffffff7f843db000 0x9000     0x9000     com.silabs.driver.CP210xVCPDriver (5.2.4) 79BD054F-7A71-34DE-9763-59D44DAC0615 <86 27 5 3>`

2) Have you tried running `screen /

[2020-02-12 14:43] Prem95 opened #71 "Gibberish words seen after running screen"
* Doc you were trying to follow: https://coral.withgoogle.com/docs/dev-board/get-started/
* Your host OS: Ubuntu 18.04 LTS on Mac OS Catalina (Virtual Box)
* Your Python3 version: Python 3.7

# What I ran

`screen /dev/ttyUSB0`

# What the docs said should happen

The Coral will be booted until a login with random hostname appears.

# What actually happened

Gibberish words on the screen indicatin

[2020-02-17 22:14] fjp commented on #70
I have the same problem. I found [this blog post](http://blog.toelt.ai/coral/2019/12/18/coral_setup_on_catalina.html) which says:

The proposed solution in the blog post is to allow ssh with only password (which is not safe).

So far I was able to connect to the host machine (macOS with Catalina) and the Coral dev board to the same wifi network (For this I logged into the serial console via screen

[2020-02-18 11:47] AliRSajun opened #72 "Error while flashing leading to unresponsive board"
I was flashing the dev board according to the instructions on the coral website when it got stuck for a while with the terminal saying waiting for device to reboot. After leaving it for 10 minutes with no movement I disconnected it to attempt to start installation again but now when I try to install it, it gets stuck at the screen step.. it shows a blank screen with no U-Boot prompt at all.

When

[2020-02-23 17:09] jingw222 commented on #42
Hey,
Installing the Debian package `python3-edgetpu` works fine but only under global system environment. However how can I import and use `edgetpu` in my virtual environment? Is there a pypi release available for the package?

[2020-02-24 18:17] Namburger commented on #47
@lunzueta try this:
[code]

[2020-02-26 10:08] zerocool95 commented on #72
I had the same problem on mac os. It worked after a system(macbook) restart. Not sure what the root cause was.

[2020-02-26 15:49] #72 closed, assigned to nobody

[2020-02-26 15:51] AliRSajun commented on #72
I tried everything to get the U-Boot prompt to show up on screen or to make the board appear on mdt.. nothing worked.
Finally what worked was following the tutorial section which showed a way to boot it using the mirco SD card.

[2020-03-16 14:59] aliafshar opened #73 "Can't use a usb rs232 cable"
Hi everyone!

I got given one of these Coral boards to play with and I have to say I am quite impressed. I have a problem though. I need to connect a USB RS232 cable (PL2303). In every other linux I have used (including rpi) this detects normally using the usbserial kernel module, but not in Mendel linux. Mendel has usbserial as a kernel builtin (probably for the serial console), so I can't remove

[2020-03-16 17:45] aliafshar commented on #73
Since I (fortunately) work at Google, I got in touch with one of the Mendel engineers, who taught me how to rebuild the kernel with the extra module I need. And this issue is now closed.

[2020-03-16 19:16] aliafshar commented on #73
If anyone is reading, and needs to recompile the kernel, first follow the instructions to get the source code, here: https://coral.googlesource.com/docs/+/refs/heads/master/GettingStarted.md

1. Edit packages/linux-imx/debian/defconfig to add the config options you want to the kernel.
In my case add the missing kernel option.
`CONFIG_USB_SERIAL_PL2303=y
`
2. Rebuild the kernel
`m docker-linux-imx

[2020-03-16 20:19] aliafshar commented on #73
And I documented it in this blog post: https://medium.com/@aliafshar/recompiling-the-coral-dev-board-mendel-linux-kernel-1319c911bcad

[2020-03-16 20:19] #73 closed, assigned to nobody

[2020-04-07 07:48] jiapei100 opened #74 "mdt shell failed"
* Doc you were trying to follow: [https://coral.ai/docs/dev-board/mdt/](https://coral.ai/docs/dev-board/mdt/)
* Your host OS: Ubuntu 18.04.4
* Your Python3 version: 3.6.9

# What I ran

[code]

Since I've already manually setup a STATIC IP from within mendel OS via **screen** as **192.168.1.97**, I also tried to load **mdt shell** using its IP address.

[code]

There are several potential bugs:

1

[2020-04-22 20:21] Eashwar93 commented on #20
@caiya55 Were you successfully able to convert the openpose model for the edgetpu using the edgetpu compiler. I am curretly trying to do it ,but the edgetpu compiler just abort without any debug info. I downloaded the frozen graph from the same source as you (ildoonet/tf-pose-estimation). I also created a new thread regarding the [issue.](https://github.com/google-coral/edgetpu/issues/100#issue-60

[2020-04-23 00:17] caiya55 commented on #20
@Eashwar93  Thanks for asking. I've been trying to convert openpose on coral last year. I've worked for several months, and finally, I succeeded. But the problem is: openpose is too slow for coral due to its pose processing step. The reason is obvious: coral is good for TPU, but I think its CPU is not powerful. The speed that I test is around1.5s/frame, and the post-process step takes 1.3s.

My ne

[2020-04-23 08:47] Eashwar93 commented on #20
@caiya55 Thanks a lot for your detailed explanation. I tried Google's Posenet but I think the accuracy is not that great for a real world robot to use it. I wanted to evaluate if Openpose is offering the appropraite solution. Thanks for the heads up that the Openpose is slow in EdgeTPU. I think I would be next try to write the pose inference in C++ and probably try to find out if there is a way to

[2020-04-23 10:14] caiya55 commented on #20
Do you have wechat, if you have, prviate message to me, and we can discuss on wechat.

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Eashwar <notifications@github.com>
Sent: Thursday, April 23, 2020 4:47:55 PM
To: f0cal/google-coral <google-coral@noreply.github.com>
Cc: ZHANG ZHAOXIANG <zhangzhaoxiang666@outlook.com>; Mention <mention@noreply.github.com>
Sub

[2020-04-23 10:45] Ecuashungo commented on #61
I followed your instructions, and somehow messed up something. I wanted to connect through the serial port to rectify things, but I have got the following message:
`Cannot open access to console, the root account is locked.
See sulogin(8) man page for more details.`
Any idea how I can remove the line `/dev/mmcblk1 /home ext4 defaults 0 1` from `/etc/fstab` without serial console?

[2020-04-24 12:55] Eashwar93 commented on #20
@caiya55 thanks but unfortunately I don't use we-chat and even if I create one I don't have a friend here to verify my we chat account through the QR code scanning procedure. Thanks for your help. It does mean a lot.

[2020-05-08 14:01] kamend opened #75 "fastboot does not work on MacOS Catalina"
I am on MacOS Catalina 10.15.4, on a Macbook Pro 2017

Trying to flash my new Coral Dev Board, after I run the fastboot mode vie the serial port, when I run "fastboot devices", I do not get anything.

This is what I get in the system log:

"000498.372493 fastboot@(null): AppleUSBHostUserClient::start: missing entitlement com.apple.ibridge.control"

I installed the "CP210x USB to UART Bridge VCP" d

[2020-05-11 11:09] kamend commented on #75
For those who are having the same problem, the solution is to use a USB-A to USB-C cable with an adapter, I guess a usb-c to usb-c cable does not work for some reason.

[2020-05-11 11:09] #75 closed, assigned to nobody

[2020-05-17 00:07] Ekta246 commented on #20
Hi @caiya55  I would like to know how were you able to convert your .pb model to the .tflie model. I want to do an inference on the Google Coral for Efficientdet.

[2020-05-17 08:29] Eashwar93 commented on #20
@Ekta246

You can use the code below that was suitable for my model to convert it to a tflite model.

[code]
you need to modify the code according to your model. You will have to change the arguments `graph_pb`, `inp`, `out`, `input_shapes` passed into the TFLiteConverter.from_frozen_graph()
But I guess you can't run the tflite model directly in a coral Edgetpu. You will have to compile the model

[2020-05-20 05:43] haithienld commented on #61
-bash: /etc/fstab: Permission denied
sudo chmod 666 /etc/fstab

[2020-05-20 17:19] Namburger commented on #71
@Prem95 Ensure to include the baud rate, without setting the correct baud rate, screen will misinterpret the serial data:
[code]

[2020-05-21 13:54] Namburger commented on #74
@jiapei100
Can you try `stracing` the process to see what's causing the segfault.

`mdt` is just a user friendly wrapper around ssh so it may be a better solution to just ssh into the board.

[2020-05-21 14:00] Namburger commented on #70
@iitgrad @fjp
The problem with Catalina is very odd, and I believe it's due to the OS it self with changes in libusb, I don't have a mac to test my self, but here's a safer solution or standard solution is to create a id_rsa key on your mac with:
[code]
This creates a `~/.ssh/id_rsa.pub` file on your MAC. You can copy that key over to the board and put the content in `~/.ssh/authorized_keys` (you

[2020-05-21 14:02] Namburger commented on #69
What command did you use to converts the deeplabv3 model?

[2020-05-21 14:06] Namburger commented on #67
@GOBish Hi there, you can try working form this object tracking project form the automl team it may give you a better idea:
https://github.com/google/automl-video-ondevice#for-coral-device

[2020-05-21 14:25] Namburger commented on #66
Hi there, regarding installing `julia` on the dev board:
[code]

Although training and creating models on the dev board is probably not a great idea. Model pipelining is usually done in a robust host machine. Model inference is what's the dev board was designed for.

[2020-05-21 14:26] Namburger commented on #65
@coollofty could you clarify what you mean by the original file is gone?

[2020-05-21 14:33] Namburger commented on #56
@hacker-h is that a kernel config (sorry, not an expert on k3)?
any how, if it is a kernel config, you can recompile the kernel with it turned on.
1) Get the source code from [here](https://coral.googlesource.com/docs/+/refs/heads/master/GettingStarted.md)
2) Open [packages/linux-imx/debian/defconfig]() and add
[code]
3) compile with `m docker-linux-imx`
4) The kernel will be packaged as a debian

[2020-05-21 14:36] Namburger commented on #55
Based on [this](https://cateee.net/lkddb/web-lkddb/CGROUP_FREEZER.html), I believe you can turn it on the same way as this issue: https://github.com/f0cal/google-coral/issues/56 :)
With this turn on:
[code]
Although I'd first try installing Mendel Day (4.0). It has a newer kernel and more new features

[2020-05-21 14:44] Namburger commented on #42
Hi guys I'll one up @aeropia. To me this is very standard python issues especially if you have multiple python version install + some odd virtual environment. Check out my answer here https://github.com/robmarkcole/coral-pi-rest-server/issues/56#issuecomment-632125175

[2020-05-21 14:54] Namburger commented on #61
@pliablepixels Nam from the coral team here, very nice guide, and thanks
Although before making the mkfs.ext4, it's usually standard to create a partition in the sd card first. So something like:
[code]
Then **sudo fdisk -l** should show something like this:
[code]
You'll want to make `/dev/mmcblk1p1` the ext4:
[code]
And the rest is to follow your tutorial :)

For me personally, I'll just mount i

[2020-05-21 15:00] Namburger commented on #14
Hi guys, to clarifying some things here, The board has a 64 bits arm architect!
It's the older version of the OS that we ship that only supports 32 bits. With Mendel Day (4.0) it is now aarch64 and you can find this with `uname -a`.

Mdt is a package used to connect to the board, it's just a friendly wrapper of ssh. There is no need to install it to the board, but you can definitely use ssh on it

[2020-05-21 15:02] Namburger commented on #3
Hi guys -

With Mendel Day (4.0) you can install opencv as easy as this:
[code]
If you are using an older OS, I sugggest [flashing a new image](https://coral.ai/docs/dev-board/reflash/#flash-a-new-system-image).

Cheers!

[2020-05-21 15:22] Namburger commented on #12
Hi all, too many things going on here haha

Okay so regarding tflite build issue, there are too many things to talk about, but this issue can give a good gerneral summary: https://github.com/google-coral/edgetpu/issues/78

Regarding building opencv, you can just checkout my repo :)
[edit] I haven't tried multiple tpu yet, but I wonder if the tpu_context were destroyed at some point?
https://github

[2020-05-21 15:33] Namburger commented on #36
@AlexTraan
How did you compile it?

[2020-05-21 16:20] GOBish commented on #67
Ok - I am training a tflite model now and converting it for use on the EdgeTPU. I will see how the automl tracking works.

[2020-05-21 18:15] Ekta246 commented on #20
First, which version of the Tensorflow converter did you use for converting the graph to the .tflite model?
Second, did you happen to choose the Full Integer post-training quantization option? mentioned in the https://www.tensorflow.org/lite/performance/post_training_quantization

[2020-05-21 18:18] Ekta246 commented on #20
@Eashwar93 thanks for your quick response!
First, I have converted the saved_model to the .tflite instead of the graph.pb. I happened to convert it to a quantized .tflite file.
After passing it through the edgetpu_compiler it shows "invalid model. Model not quantized"
Any help with this.

[2020-05-21 18:27] Eashwar93 commented on #20
@Ekta246 Could you share the codes that you used to convert the saved_model file to a quantised .tflite model?

[2020-05-21 19:35] Ekta246 commented on #20
Yes, why not?

import tensorflow as tf
saved_model_dir =('./savedmodeldir')
saved_model_obj = tf.saved_model.load(export_dir=saved_model_dir)
print(saved_model_obj.signatures.keys())

        # Load the specific concrete function from the SavedModel.
concrete_func = saved_model_obj.signatures[tf.saved_model.DEFAULT_SERVING_SIGNATURE_DEF_KEY]

        # Set the shape of the input in the concrete fu

[2020-05-21 19:41] Ekta246 commented on #20
On using the,
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
I get some errors like OSError:Saved_model doesn't exist at './path'
Cannot solve that issue since long.
And get the error as This converter can only convert a single "
                           "ConcreteFunction. Converting multiple functions is "
                          "under development.")

[2020-05-21 19:52] Eashwar93 commented on #20
@Ekta246 I think you are not quantising the input and output layers. I'm not sure if that is supported by the edgetpu compiler yet. In-order to quantise the input and output layers you should probably add
[code]
before running

`tflite_quant_model = converter.convert()`

Also have a look at this visualizer [netron](https://lutzroeder.github.io/netron/) to see if quantisation has happened. I'm not

[2020-05-21 20:01] Ekta246 commented on #20
Actually, I had already used the
inference_input_type =tf.unit8
inference_output_type=tf.unit8

And yes I have already visualised it in the Netron app, and yes I only see
w dequantize block.
Nothing more which may relate to a quantized model.

Do you mind sharing me your quantized file?

Thanks

On Thu, May 21, 2020, 3:52 PM Eashwar <notifications@github.com> wrote:

[2020-05-22 01:01] coollofty commented on #65
original file is the trainned .ptb file, quantification .ptb to .tflite int8 model. If I can't find the .ptb file, can I still implement this quantification process

[2020-05-22 08:54] #36 closed, assigned to nobody

[2020-05-22 12:38] Eashwar93 commented on #20
@Ekta246 Oh ok. I could not find that in the code you shared, hence the suggestion. Sure I can share the quantized model. I am facing issues as well with the quantized model when I pass through the EdgeTPU compiler but its a different one. I would like to ask you to look at these issues if it was the same for you.
The quantised model is available in both of these issue pages
https://github.com/goo

[2020-05-22 15:14] Namburger commented on #65
@coollofty Ahh, I see now.
Hummn, I don't know if this is possible, unfortunately. The tflite converter were meant for graph -> tflite only, I've never attempted tflite -> tflite. Maybe the tensorflow team can give you a better answer for this question though.

[2020-05-24 14:48] #71 closed, assigned to nobody

[2020-05-24 14:56] #66 closed, assigned to nobody

[2020-05-24 14:57] #14 closed, assigned to nobody

[2020-05-24 14:58] #12 closed, assigned to nobody

[2020-05-24 15:05] Namburger commented on #7
Hi guys, Nam from the google-coral team here. Apologies for this issue but I guess this is no longer applicable because the way we build out api changes significantly since this issue open. To clarify, there are 2 `.so` for an average python user of out API:

1) The `libedgetpu.so` which allows you to interact with the edgetpu
2) The swig wrapper so that binds the python interface with our C++ API

[2020-05-24 15:05] #7 closed

[2020-05-24 15:08] Namburger commented on #1
I guess this is no longer an issue since we've moved on to apt package and better installation script/library names :)

[2020-05-24 15:08] #1 closed

[2020-05-24 15:09] #65 closed, assigned to nobody

[2020-05-24 15:10] Namburger commented on #64
Honorable mention: https://github.com/google-coral/edgetpu/issues/120#issuecomment-630814040

[2020-05-24 15:10] #64 closed, assigned to nobody

[2020-05-24 15:10] #61 closed, assigned to nobody

[2020-05-24 15:11] #56 closed, assigned to nobody

[2020-05-24 15:15] #55 closed, assigned to nobody

[2020-05-24 15:22] Namburger commented on #54
@kflmiami420 sorry, I can't tell much just from the query, but ususally the nan errors happens when the rpi can't read/write from gpio. We've made lots of changes/bug fixes to the library. Can you check if gpio is turned on with `raspi-config` as well as installing the new library?

[2020-05-24 15:30] Namburger commented on #53
@jisooyu You most likely just don't have permission to write in that directory. Moving the model to another directory and compile should fix the problem, or just give yourself permission for the directory with:
[code]
The problem with compiling with sudo is that it'll most likely write the model as root and then your regular user may not get permission to use the model haha

@Ryan-Johnson-1315 har

[2020-05-24 15:30] #53 closed, assigned to nobody

[2020-05-24 15:30] #51 closed, assigned to nobody

[2020-05-24 15:37] Namburger commented on #50
@zorrobyte Let me know if anything else I can help with. As Leonid mentioned, most of these issue should be fixed by now, and our apt server is better. As far as OOM causing killed processes, that's quite standard for linux, the solution is usually swap space (pagefile in window). I usually add a 32gb sdcard on my board and use some of the emmc as swap. We are working on new generation with more m

[2020-05-24 15:38] Namburger commented on #49
This is fixed

[2020-05-24 15:38] #49 closed, assigned to Namburger

[2020-05-24 15:38] #50 closed, assigned to nobody

[2020-05-24 15:39] #47 closed, assigned to nobody

[2020-05-24 15:42] #42 closed, assigned to nobody

[2020-05-24 15:48] Namburger commented on #38
@kflmiami420 did you enable `i2c` as well as `gpio` using the `rspi-config` advance setting?
You can learn more about that here: https://stackoverflow.com/questions/17821063/why-does-the-i2cdetect-always-gives-uu-on-my-rtc-in-embedded-linux
Any how, i2c giving UU is an indication that the pi can't access the i2c interface, which is required to interact with the enviro sensor!

[2020-05-24 15:48] #38 closed, assigned to nobody

[2020-05-24 15:49] Namburger commented on #37
Apologies for this!
This issue should be fixed now as we've started shipping `libedgetpu.so` as a debian package!
[code]

[2020-05-24 15:49] #37 closed, assigned to nobody

[2020-05-24 15:51] #35 closed, assigned to nobody

[2020-05-24 15:51] #32 closed, assigned to nobody

[2020-05-24 15:57] Namburger commented on #31
Ahh this should no longer be a problem as the package is usable for Mendel Day(4.0) which is a derivative of buster + I tested this on my Pi. Closeing for now, please update me if it's still broken for you

[2020-05-24 15:57] #31 closed, assigned to nobody

[2020-05-24 15:58] Namburger commented on #28
You can download it here: https://coral.googlesource.com/docs/+/refs/heads/master/GettingStarted.md

[2020-05-24 15:58] #28 closed, assigned to nobody

[2020-05-24 16:01] Namburger commented on #27
@JVTEAM hummn, what error messages do you get? This is mostlikely just because the pip package wasn't packaged for arm platform. Try downloading it from here:
https://pypi.org/project/mendel-development-tool/

Furthermore, mdt is a user friendly wrapper around ssh, you can also use ssh to access the board!

[2020-05-24 16:01] #27 closed, assigned to nobody

[2020-05-24 16:04] Namburger commented on #26
@mbcel
Concat is supported, just a little limited, there isn't enough info on the model for me to tell what's causing the compiler to aborts. I maybe able to check it out if you can attach it here.

[2020-05-24 16:06] Namburger commented on #25
@MartinSmeyer This shouldn't be a problem anymore as we have now packaged our libraries as apt packages :)

[2020-05-24 16:06] #25 closed, assigned to nobody

[2020-05-24 16:11] Namburger commented on #24
Inception are segmentation models, they are not compatible with classification model. Use this example for segmentation: https://github.com/google-coral/edgetpu/blob/master/examples/semantic_segmetation.py

[2020-05-24 16:11] #24 closed, assigned to nobody

[2020-05-24 16:14] Namburger commented on #22
Hi guys -

I think this was a problem with older version of mendel not allowing users to access these libraries and you'd need to use sudo when calling the libraries. Reflashing the board with the newest image (mendel day 4.0) should fix this issue.

[2020-05-24 16:14] #22 closed, assigned to nobody

[2020-05-24 16:17] Namburger commented on #23
Super late here, but the kernal-headers is a dependency for this package. This is maintained by the vendors (rpi for this example) so we won't really be able to fix this one.

[2020-05-24 16:17] #23 closed, assigned to nobody

[2020-05-24 16:22] Namburger commented on #17
@LukasLoacker humm, I think this is the wrong usage for the embedding extractor...
The tutorial states that these model were created in order for us to append the softmax layer to it. It is not meant to be compiled or use before appending that layer. If you follow the tutorial, the final model that you've finished retraining should be called `retrained_model.tflite`

[2020-05-24 16:22] #17 closed, assigned to nobody

[2020-05-24 16:25] Namburger commented on #2
@BarryLYH you shouldn't need both `/dev/ttyUSB0` and `/dev/ttyUSB1`, could you clarify?

[2020-05-24 16:25] #2 closed

[2020-05-24 16:25] #3 closed

[2020-05-24 16:26] #4 closed

[2020-05-24 16:26] #5 closed

[2020-05-24 16:26] #6 closed

[2020-05-24 16:36] Namburger commented on #8
FYI, Mendel Day (4.0) is a derivative of Buster, I've found that most packages can be installed if you give the `/etc/sources.list.d` files the correct source of arm64 and buster, similar to this answer on docker: https://github.com/f0cal/google-coral/issues/32#issuecomment-571629174

Another way is downloading release binaries that were compiled for `arm64`, which is not very commonly supported,

[2020-05-24 16:36] #8 closed

[2020-05-24 16:40] Namburger commented on #13
Please check this answer :)
https://github.com/f0cal/google-coral/issues/7#issuecomment-633244553

[2020-05-24 16:40] #13 closed, assigned to nobody

[2020-05-24 16:41] Namburger commented on #16
Thanks! Closing for now since we've moved onto new docker images now :)

[2020-05-24 16:41] #16 closed, assigned to nobody

[2020-05-24 16:43] Namburger commented on #10
Thanks! We're now onto python3.7 with Mendel 4.0 being a derivative of buster :)

[2020-05-24 16:43] #10 closed, assigned to nobody

[2020-05-27 15:17] Namburger commented on #62
I guess you've found this repo: https://github.com/google-coral/crosstool
but I'm just pasting here for other to reference :)

[2020-05-30 02:50] sagilar opened #76 "Couldn't establish a cellular connection with a USB modem"
I've been working with the coral edge tpu for more than a year; even I updated the OS version to mendel 4. Everything was right working with the new OpenCV support and those things, but now I need to establish a connection to access Internet using a cellular modem (module U-Blox SARA R410M) and it hasn't been possible with the mendel OS. I've tried with Windows (10) and Ubuntu with the same modem

[2020-05-31 02:43] ries9112 commented on #31
@Namburger I just ran into this problem exactly as described by @KrasowskiMichal. Thoughts on how I would go about fixing this?

[2020-06-01 00:23] Namburger commented on #31
@ries9112 what's your`uname -a`

[2020-06-01 13:31] Namburger commented on #76
Duplicate, let's keep communication here: https://github.com/google-coral/edgetpu/issues/128

[2020-06-01 13:31] #76 closed, assigned to Namburger

[2020-06-08 18:17] valiantljk commented on #70
I tested on Catalina 10.15.5 as of today, seeing the same issue. Considering switch to Linux.

[2020-06-11 23:32] AiHumanAgent commented on #70
@valiantljk

I was seeing the same issue of missing devices- however, after different tangential experiments,  "mdt devices" started showing up the dev board on macOS Catalina 10.15.5

The directions that I followed were the ones mentioned in this issue log (

1) At the stage where you connect to the device via mdt , reconnect the serial port
2) log in into dev board via mendel/mendel username and

[2020-06-18 15:08] nanotower commented on #70
Same problem here with mac os Catalina 10.15.5

[2020-06-28 20:13] alitillawi opened #77 "ModuleNotFoundError: No module named 'edgetpu'"
* Doc trying to follow: https://coral.ai/docs/accelerator/get-started/#1c-on-windows
* Host OS: Windows 10
* Python3 version: 3.6.5

# What I ran:
-Pre-configuration and runtime for the edge TPU on windows were made
-Code for facial recognition via a TFlite trained model.

# What happened
    from edgetpu.classification.engine import ClassificationEngine
ModuleNotFoundError: No module named 'edget

[2020-06-29 14:50] Namburger commented on #77
Hey, since you've started the issue [here](https://github.com/google-coral/edgetpu/issues/158) also, lets keep communication there.
FYI, that is a standard python error for the package not being installed.

[2020-06-29 14:50] #77 closed, assigned to Namburger

[2020-07-01 20:50] AndrewKeene opened #78 "Coral Dev Board SPI1 Chip Select Line"
* https://coral.ai/docs/dev-board/gpio/#header-pinout

Hi everyone, I'm just trying to run a simple SPI transfer using the Google Coral dev board.

Opening and transmitting over SPI1 is working fine, but I notice it only lowers the SS1 line (pin 26 on the 40 pin GPIO header). How do i configure the SPI1 interface to use the SS0 line (pin 24)?

I've tried understanding the Phanbell device tree, but

[2020-07-01 21:12] AndrewKeene commented on #78
I overlooked the SPI API and assumed the path change on the SPI constructor was for the SPI interface, but I see it's for the SS line.  Issue closed.

[2020-07-01 21:12] #78 closed, assigned to nobody

[2020-07-11 17:14] sterlingrpi commented on #15
@zorrobyte same issue here. Changing /sys/class/thermal/thermal_zone0/trip_point_4_temp doesn't last after a reboot. Any solution?

edit, wanted to tag this related thread and @lleonid since he seems to know a lot https://github.com/f0cal/google-coral/issues/50

[2020-07-22 01:01] mikelittlerock opened #79 "Help mapping a NAS drive"
tried syntax i have used on other unix sytems but not able to map a drive to my NAS yet.. any tips welcomed.

[2020-07-22 12:17] brianthelion commented on #79
@mikelittlerock Please post detailed logs of your attempts. Thanks.

[2020-07-22 13:41] Namburger commented on #79
@mikelittlerock
DevBoard comes with MendelOS, the current released version is a fork of debian buster so I doubt that it would be different than other linux system. What's the issue and what have you tried?

[2020-07-22 23:03] mikelittlerock commented on #79
got it working last night
the nas (qnap) supports NFS so just tried "sudo mount -t nfs 192.168.128.181:/surveillance /home/surveillance "
and that worked fine.
Thanks!

[2020-07-22 23:30] mikelittlerock opened #80 "Getting started, books, basic scripts, etc. (classification on a video file)"
Greetings everyone. I have a Coral dev board as well as the USB model and eager to get started. I have found some samples where people classified live videos but I am trying to get a basic script as a starting point. basically just open file "video_sample1.mpg (or avi etc) and run classification and return basic results.. "Human 84%" or "Deer 98%" etc..

I am also interested in any sites, books, e

[2020-07-23 00:38] #79 closed, assigned to Namburger

[2020-07-23 18:44] Namburger commented on #80
@mikelittlerock
How about this example? https://github.com/google-coral/examples-camera/tree/master/opencv
It's object detection, only 2 files and very easy to read :)

[2020-07-27 12:35] mikelittlerock commented on #80
@Namburger Thanks but this one is also pulling images via local Pi camera, correct? im trying to find an example where it reads a MPG or AVI stored locally.

[2020-07-27 13:44] Namburger commented on #80
@mikelittlerock You can easily change [this line](https://github.com/google-coral/examples-camera/blob/master/opencv/detect.py#L94) from:
[code]
to
[code]

to read frames from a video file instead!
Here is the proper documentation from opencv: https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_gui/py_video_display/py_video_display.html#playing-video-from-file

Cheers

[2020-07-27 13:44] #80 closed, assigned to Namburger

[2020-07-29 06:05] IvanChavR opened #81 "Commands of Coral Dev board ??"
Where can I find the commands to see the performance of TPU of Coral dev board?

I need to see the data when I am doing an inference with models such as MobileNet V2, MobileNet V1

[2020-07-29 13:36] Namburger commented on #81
@IvanChavR What do you mean by commands?
We usually just use the `time` module to measure the inference time, similar to this: https://github.com/google-coral/tflite/blob/master/python/examples/classification/classify_image.py#L110-L112

[2020-07-31 02:40] IvanChavR commented on #81
Sorry for the question, I am a beginner with the coral, what I mean is, Are there commands to see the  performance of TPUs?
something similar such as nvidia-smi to check the GPUs

[2020-07-31 03:37] raghavendravp commented on #70
Having similar troubles. I wonder if you could help me more. I am using Catalina OS as well.
I see the device after running "mdt devices" but I am seeing the same errors. I followed all directions until the last step that you indicated, and when tried to login back using "mdt shell", after the change on the dev board's sshd_config I see a new set of errors. Could you please help provide a resoluti

[2020-07-31 13:43] Namburger commented on #70
@raghavendravp After following the steps here https://github.com/f0cal/google-coral/issues/70#issuecomment-632102704
you'll need to use ssh instead of mdt:
[code]
you can use that address if the board is connected to your host via usb-c, or if your board is on the same wifi, you can use the wlan0 address :)

[2020-07-31 13:49] Namburger commented on #81
@IvanChavR nothing to be sorry about :)
I just wasn't sure what you mean. So I looked up `nividia-smi` and it seems like a lot of info that we currently don't expose. The nvidia's gpu is more general and can be used for different things, while our GPU is specifically for processing tensors. Unfortunately, there is not much specs to expose at this time.
However, the most relevant info to benchmark

[2020-07-31 15:21] aizzaac commented on #15
@lleonid

How do you know that: ``` /sys/class/thermal/thermal_zone0/trip_point_4_temp``` is the fan temp?
Where can I find that information?
Also is it possible to monitor: voltage, current or power?

[2020-08-01 15:22] raghavendravp commented on #70
Of course! Thank you.. I had an IP address already as I was able to get the device connected to Wlan0. I will just not be able to use mdt, which is fine, I can rely on SSH to perform all my operations.

[2020-08-04 02:55] IvanChavR commented on #81
Thank you @Namburger for the answer

[2020-08-04 10:05] laurentdebricon opened #82 "Play wav sound"
How to play a wav file through the 3.5mm audio jack

it looks simple but i am failing hard :(

[2020-08-04 10:14] #82 closed, assigned to Namburger

[2020-08-04 10:36] laurentdebricon commented on #82
[code]

[2020-08-06 14:18] laurentdebricon commented on #82
I checked first that everything was ok with this simple command :
`speaker-test -c 2 -t wav`

[2020-08-07 01:11] Dave592309 opened #83 "Issue running image detection (new user)"
* Doc you were trying to follow:
* Your host OS: Mac OS Mojave
* Your Python3 version: 3

# What I ran
Here is the video: https://www.loom.com/share/6a9209cb38b34cf88c58a57f426653d2

# What the docs said should happen
https://coral.ai/docs/dev-board/camera/#using-an-hdmi-monitor

# What actually happened
Can't get the model to run.

[2020-08-07 15:05] Namburger commented on #83
@Dave592309 Is this a classification model or detection model?
From what I understand, you basically moved the copied the model and label file to the dev board, just having problem running it?

[2020-08-07 15:52] Namburger commented on #83
@Dave592309 just took a look at the project, it looks like a classification model, I'm assuming that you have a coral dev board and also a coral's camera attached, then you should be able to run it like this:

[code]
Basically following this demo: https://coral.ai/docs/dev-board/camera/#using-an-hdmi-monitor

Cheers

[2020-08-09 07:27] laurentdebricon opened #84 "Pimping boot, background, loading"
Hello,

i am trying to pimp the google coral with my logo // color scheme, to sell it to a client. So far a script is launching at startup (thanks to https://github.com/google-coral/edgetpu/issues/120)

I am looking for solutions :
- how to put "quiet" in the boot loading (to hide the linux kernel message at boot (i tried the debian way but no /etc/default/grub ))
- even better add my splash logo

[2020-08-10 15:23] Namburger commented on #84
@laurentdebricon Hi :)
In general, embeded linux such as the dev board doesn't have grub, we use something call u-boot. You can follow this answer to modify kernel command line:

Download boot.txt:
[code]
Install mkimage:
[code]
Make your necessary changes in the cmdline="" line, for this example, we need to add "quiet loglevel=0":
[code]
compile to boot.scr:
[code]
replace old boot image file
[co

[2020-08-11 20:59] laurentdebricon commented on #84
Thank you @Namburger ,

- Four proud Tux are still displayed, but quiet, it's a good start. In this tutorial https://developer.toradex.com/knowledge-base/u-boot-splash-screen#Practical_Example
you can load a picture at runtime, don't know if the uboot of the Coral supports that ...

- I have found the location of the desktop background :
`/usr/share/weston/background.png`

[2020-08-13 21:41] aizzaac commented on #15
I made a plot. The fan starts working at 65°C. But  do not know if it is the temperature of the CPU or the TPU.

![image](https://user-images.githubusercontent.com/68517348/90189939-1672be80-dd8c-11ea-8976-da15daa83f34.png)

[2020-08-18 12:25] #84 closed, assigned to Namburger

[2020-08-18 13:07] laurentdebricon opened #85 "Fan Noise reduction solutions"
How to decrease the fan noise ?
i read about fan starting point but I am looking for fan noise reduction solutions ! Fan replacement tutorial. Any idea ?

This case makes the sound worse.
https://kksb-cases.com/products/kksb-coral-dev-board-case-aluminum

[2020-08-18 15:48] Namburger commented on #85
Humn, I'm not actually sure about fan noise... but the J6 connector has a power/ground pin if you want to replace with another fan. I'm not sure if replacing the fan would make a difference in noise
fyi I also have one of those case :D and also, this isn't our official channel, suggest future issues to be sent to [this repo](https://github.com/google-coral/edgetpu/issues) for library related quest

[2020-08-18 15:49] #83 closed, assigned to Namburger

[2020-08-19 16:44] Namburger commented on #84
@laurentdebricon ohh, you can change the background-image config in `/etc/xdg/weston/weston.ini`:
[code]

[2020-08-19 18:34] laurentdebricon commented on #85
Hey thanks for your answer,
i really don't want to be a troublemaker, i love the raw power of the Coral

I'm thinking to go with a regular raspberrypi and a good heatsink with the usb TPU ...
too bad ... this is more expensive ...

looking forward quality production solution from other people ! Good job for the support

[2020-08-19 18:54] Namburger commented on #85
@laurentdebricon
Here's a mini fanless solution that should be coming really really soon :)
https://coral.ai/products/dev-board-mini

If you're just doing mask detection and not much CPU usage, I think the mini would be a great solution. I don't have exact date/price for it, unfortunately :/

[2020-08-24 00:12] lleonid commented on #15
It's set in device tree - https://coral.googlesource.com/linux-imx/+/refs/heads/master/arch/arm64/boot/dts/freescale/fsl-imx8mq-som.dtsi#757
And it's bound to CPU temperature.

TPU temperature is available via /sys/class/apex/apex_0/temp

[2020-08-27 15:29] Charlygnusa commented on #74
Hello, I have the same problem, is there a solution?

I just followed the documentation for the steps "Execute the flash script", then tried to connect to the board via MDT and SSH, but it didn't work, the same error appeared as above ..

Please help, thanks in advance

[2020-08-27 15:41] Namburger commented on #74
@Charlygnusa what OS are you using and how have you tried to ssh?

[2020-08-27 16:11] Charlygnusa commented on #74
@Namburger thank you for the reply

My OS is Ubuntu 18.04, and my python3 is version 3.6.9, I tried ssh like this `ssh vexing-goose@192.168.100.2` but can't, the error is displayed `Connection reset by 192.168.100.2 port 22`

Is it not possible to SSH because I have never connected via MDT?
because in the documentation there is also `You must connect to the board via MDT over USB at least once bef

[2020-08-27 16:20] Namburger commented on #74
@Charlygnusa hello
no, you should be able to ssh, although that's not the correct usage of ssh + mendel won't allow password authentication by default. Here are the steps:
1) screen into the board's serial console: `screen /dev/ttyUSB0 115200` (make sure serial cable are connected, user/password are both "mendel")
2) open the file `/etc/ssh/sshd_config` and change **PasswordAuthentication no** to

[2020-08-27 19:18] Charlygnusa commented on #74
@Namburger Thanks for the help

but I tried to connect to the board via the serial console, it doesn't work, every time I run `screen /dev/ttyUSB0 115200`, it always `cannot exec/dev/ttyUSB0: No such file or directory`, even though the serial cable is connected, and in My ubuntu log shows `device not accepting address 20, error -71`, what should I do?

[2020-08-27 20:39] Namburger commented on #74
@Charlygnusa that sounds like your host machine did not detect the board, weird, I've never seen this.
Could you try turning off the board, plug it back in (both serial and usb-c cables are necessary for this task: USB-A to USB-micro-B cable, USB-A to USB-C cable)
Then check
[code]

This should have prompt you in the serial console just as the first time you flashed the board

[2020-08-28 14:27] Charlygnusa commented on #74
@Namburger sorry I can only reply now and thank you for always helping me

Finally I know the problem, it turns out the cable is not working, when I replace the cable that I have, the screen is running, but I have a problem with `screen is terminating`, I will find out first to fix it, then I will try the method you give

Thank you for the help

[2020-08-28 14:30] Namburger commented on #74
No problems!
`screen is terminating` is usually an easy fix, unplug and replug :p

[2020-08-28 16:04] Charlygnusa commented on #74
@Namburger hmm I have tried it but it doesn't work, then I run `screen -ls`, and it shows `No Sockets found in /run/screen/S-mypc`, do you know why this happened?

[2020-08-28 16:26] Namburger commented on #74
@Charlygnusa not sure :/
maybe try using screen with sudo or try it on a different host computer?

[2020-08-28 18:03] Charlygnusa commented on #74
@Namburger I tried with sudo but it only appears blank, maybe I will try it with a different host computer, thanks for the help

[2020-09-08 12:29] wjsgus95 opened #86 "Google Coral Dev Board not recognized by host computer"
* Doc you were trying to follow: https://coral.ai/docs/dev-board/get-started/#12-execute-the-flash-script
* Your host OS: Linux Mint 20 64-bit
* Your Python3 version: Python 3.8.2

# What I ran
`dmesg | grep ttyUSB`

# What the docs said should happen
`dmesg | grep ttyUSB`
is the command that's on the doc and I'm getting nothing when I'm supposed to get
[code]

I have no idea what the problem is.

[2020-09-08 16:15] wjsgus95 commented on #86
I tried to reflash with the recovery image in sd card but I can't do that because I can't connect through the serial console port. Any help would be much appreciated.

[2020-09-09 02:43] Namburger commented on #86
Hi!
if you plug the hdmi cable in the board, does it show any outputs when you turn the board on?

FYI, this isn't our official repo, for future issues, please open it here: https://github.com/google-coral/edgetpu/issues

[2020-09-09 04:13] wjsgus95 commented on #86
Okay. I'll post future issues in the link you put.

Thanks for the suggestion.

I plugged in the hdmi cable and it gave me an empty desktop background and I was able to open the terminal.

[2020-09-09 07:32] wjsgus95 commented on #86
So very occasionally "$ mdt shell" works, so I managed to open a ssh connection via wifi. But still,

`dmesg | grep ttyUSB`

`fastboot --devices`

`mdt devices`

gives me nothing.

p.s. My computer's using cdc_acm module instead of cp210x as the usb driver, and I can access the dev board through ttyACM0

[2020-09-09 14:49] Namburger commented on #86
@wjsgus95 I see, `cdc_acm` module is actually standard and is what we use over usb-c, cp210x is only for serial so it's not completely necessary.
Although with `cdc_acm` we noticed that sometimes this becomes an issue and the fix.... is to actually just unplug all usb devices on your host machine and reboot :P

Fastboot devices only works if you put the board into fastboot (restart the board with

[2020-09-12 06:36] soungno commented on #21
There is a bug in the coral-enviro package.

The content of the bug is that the cs_high value setting is missing from ssd1306 (OLED Display) initialization when running on raspberry pi.

Find board.py in the coral enviro package installation directory and modify it as follows.

The source code is located in /usr/lib/python3/dist-packages/coral/enviro/board.py.

`class EnviroBoard():
    """
    An

[2020-09-14 14:44] wjsgus95 commented on #86
Thank you Nam. I'll close this thread for now. I've managed to set up ssh connection so I'll be using that for now.

I'll post another issue on the right repo next time. Cheers

[2020-09-14 14:44] #86 closed, assigned to Namburger

[2020-09-21 15:42] aizzaac commented on #15
@lleonid
Can you further explain this:

![image](https://user-images.githubusercontent.com/68517348/93789096-6badb580-fbff-11ea-9ba5-c41df5c05437.png)

[code]

[2020-09-21 15:52] aizzaac opened #87 "Do the changes in TPU's frequency (STD, MAX) work in the devboard? what happens to the CPU's frequency during these changes?"
* Doc you were trying to follow:
![image](https://user-images.githubusercontent.com/68517348/93789376-c47d4e00-fbff-11ea-9a25-9a5bc8412af3.png)

* Your host OS: WINDOWS10

* Your Python3 version: PYTHON3

# What I ran
I changed the frequency from STD to MAX. Then I ran inference. I do not see difference when changing frequencies.

# What the docs said should happen
I do not fully understand the do

[2020-09-21 15:53] Namburger commented on #15
@aizzaac cpu scaling doesn't really have much to do with the edgetpu, however it does play a factor in getting the output tensors from the edgetpu (I/O). More on it:
https://wiki.archlinux.org/index.php/CPU_frequency_scaling

[2020-09-22 23:29] Namburger commented on #87
The std library should only throttles if the usb tpu reach a certain temperature threshold, under normal conditions, the max should be the same as std. For the pcie devices, the tpu never throttles
https://github.com/google-coral/libedgetpu/blob/642a289e4fb3932422b577a1c4c2bfc792ed1d15/tflite/edgetpu_manager_direct.cc#L124

cheers

[2020-09-24 13:06] aizzaac commented on #87
In what category does the devboard fit: USB or PCIE?

[2020-09-24 13:53] Namburger commented on #87
@aizzaac pcie for the dev board, usb is this one https://coral.ai/products/accelerator/

[2020-09-26 15:50] epikjjh commented on #74
Hello, I have the same problem here. (OS: Ubuntu 18.04)
when I strace with mdt shell, I found those results:

ioctl(1, TIOCGWINSZ, {ws_row=55, ws_col=101, ws_xpixel=0, ws_ypixel=0}) = 0
stat("/usr/lib/python3.6/encodings", {st_mode=S_IFDIR|0755, st_size=20480, ...}) = 0
stat("/usr/lib/python3.6/encodings/idna.py", {st_mode=S_IFREG|0644, st_size=9170, ...}) = 0
stat("/usr/lib/python3.6/encodings/id

[2020-09-26 18:57] aizzaac opened #88 "Has anyone tested "vcgencmd"? with the devboard?"
Hi

I have watched a video on youtube about how to overclock the raspberry pi 4.
[https://www.youtube.com/watch?v=p4-q1NeYlpQ](url)

I was wondering if someone has tested the tool: vcgencmd with Coral devboard.

Thank you

[2020-09-28 20:51] neilh10 opened #89 "Trying to install Coral Enviro Board to R.Pi3B"
Followed the instructions, and the display reads out "nan" for actual readings.

Purchased the Coral Enviro Board from Mouser.
I'm wondering, shouldn't there be an overaly in /boot/overlays for the CoralEnviroBoard.

[2020-09-28 23:16] Namburger commented on #89
@neilh10 I'm sorry, what's the actual issue?
There should be a /boot/overlay.txt in mendel

[2020-09-29 02:56] neilh10 commented on #89
Hello @Namburger , thankyou for getting back.
I followed https://coral.ai/docs/enviro-board/get-started/  and when it ran the display said "nan" for actual readings that is for python is Not A Number.
While I'm software engineer in uP Iot, and I have done some BeagleBOne - this is a little school project with the R.Pi and a neighbour.
So it just seems to me this is a rabbit hole - there aren't any

[2020-09-29 03:36] neilh10 commented on #89
Hello gosh my bad eyes - it is actually showing "nan" and for some reason with the small type I was seeing "nam" - I've corrected all the above references to use "nan"

[2020-09-29 14:50] Namburger commented on #89
@neilh10 ahhh, my apologies, I read the title of your issue wrong and completely thought that you're trying to do something else which leads me to all type of confusion from the info that you gave :P
Scatch what I said regarding /boot/verlays.txt, that exists on mendel OS which is the official OS on the dev board!

It is supposed to just works so this could be an issue :) Here are a couple of sugg

[2020-09-29 16:26] neilh10 commented on #89
Hello
Yes I had already gone through with ~ udo raspi-config and go to Interfacing Options, then enable SPI + I2C
and no effect. Just repeated to make sure.

The ssd1306  looks like its already been incorporated - file attached, and this is what I actually see

            # Default to RPi.GPIO in luma and defaults GPIO.
            self._display = ssd1306(serial_interface=spi(),

[2020-09-29 16:32] Namburger commented on #89
whoopies, you have to add that cs_high=True to the serial_interface argument:
[code]
Sorry, I reversed the order on that previous comment...)

[2020-10-05 22:06] neilh10 commented on #89
Oh thanks for the pointer. I'm using it as a tutorial this morning, still doesn't work
as specified has error, can't find option csi_high
From https://luma-core.readthedocs.io/en/latest/interface.html
seems like for spi() there is option cs_high (so the csi_high seems to be a typo mistake on previous examples)
[code]

This now runs, However this still gives same "nan"

For such a simple program (w

[2020-10-06 02:53] neilh10 commented on #89
I just rebuilt a raspberry from new on a uSD, enabled the SPI and I2C with "sudo raspi-config", added the cs_high=True.
Still same problem 'nan'

[2020-10-14 06:10] Tetsujinfr commented on #69
Hi @Valdiolus
Did you manage to convert deeplabv3 for cityscape? If how did you fix your issue above?
Thanks

[2020-10-14 16:33] Tetsujinfr commented on #69
Is there a way to get [those](https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/model_zoo.md#edgetpu-deeplab-models-on-cityscapes) edgetpu pretrained cityscape models running on the USB accelerator?
Those are presented as edgetpu models, so I assume that 1) they have been quantized at training time and that I should be able to convert them to .tflite and then to compile to ex

[2020-10-14 16:52] Valdiolus commented on #69
Hi @Tetsujinfr
Half year ago I somehow converted deeplabV3 with cityscape to edgetpu, but there were very poor results. Today I can't find this code, but if I find, I will post it here.

[2020-10-14 17:19] Tetsujinfr commented on #69
Thanks for your note and managing my expectations as well.  If you find the code that would be great.
When you say the results were very poor you mean the quality of the segmentation, the inference performance, both?

I find the quality of 513x513 segmantation of deeplabv3 on pascal voc 2012 not too bad given the small size of the model (although admittingly it is not great neither), and it runs a

[2020-10-15 06:37] Valdiolus commented on #69
The accuracy of the segmentation was bad, needed more deeply retrain the nn. Speed was quite good, but I don't remember exact fps rate.

[2020-10-15 10:28] Tetsujinfr commented on #69
Have you tried other sementic segmentation models for outdoor/road/car classes on the edgetpu?
E.g. I found [this](https://tfhub.dev/sayakpaul/lite-model/deeplabv3-mobilenetv2-ade20k/1/default/2) tflite small model trained on ADE20K which I thought would be a good candidate for the edgetpu, but it seems it is using float32 weights and I can not convert it to run on the coral accelerator properly.

[2020-10-15 12:30] Namburger commented on #69
Hi forks -
Sorry, just wanted to give you guys an update here, as @Valdiolus mentioned, the tflite segmentation model trained with cityscape has terrible accuracy in our test rack. This is very surprising to us and we found this out last month. Currently we are sending this to the model team to take a look.

[2020-10-15 14:06] Tetsujinfr commented on #69
Ok thanks for the update. Looking fwd for a fix if possible on this.
About the conversion process, is there a documentation or tutorial on how to prep a .pb model file to tflite then edgetpu properly?
I came across various materials on the web (most from google/TFlow teams), but I keep getting errors when trying to convert models, even when those are advertized as "edgetpu" specific like the Citys

[2020-10-27 10:46] Tetsujinfr commented on #69
hi @Namburger
do you have any update regarding the segmentation model accuracy review by your engineering team? do you have a rough timeline on when this might be re mediated?
thanks

[2020-11-04 02:01] dinghuawen commented on #82
@laurentdebricon ，
Have you solved this problem ？ how can I play a audio sample? I followed your steps, but I didn't succeed. Thanks！

[2020-11-09 00:08] Tetsujinfr commented on #69
hi, any update on the segmentation model accuracy fix on edgetpu? thanks

[2020-11-17 17:02] Luisibear98 commented on #89
Im having the same trouble here!
My OS version is:

- Linux version 5.4.72-v7+ (dom@buildbot) (gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04))

Debugging the sensors structure, after each read it returns:

- {'temperature': None, 'humidity': None, 'ambient_light': None, 'pressure': None}

cheers!

[2020-11-17 17:41] Luisibear98 commented on #89
I think problems comes when board.py tries to look for the sensors.

The path /sys/bus/iio/devices/ seems to be empty

[2020-11-17 18:59] neilh10 commented on #89
I've gone with https://shop.pimoroni.com/products/enviro?variant=31155658489939 PIM486 and it worked straight away.
Be interested if you figure it out.

[2020-11-18 08:54] Luisibear98 commented on #89
Thanks for the idea!

Finally decided to go for a custom version of the code. It is a modification from the original project adding more libraries to control the sensors. Now I'm getting all the values! let me know if any of you needs the code.

[2020-11-18 12:03] Luisibear98 commented on #21
Hello, I made this work by modifying some parts of the code to directly access the sensors.
The modify code needs some extra .py classes.
Should I post it somewhere is anybody is interested?

[2020-11-29 19:25] Guillaume-slize opened #90 "Partition error when trying to flash the board with MacOs Catalina."
I copied this issue on the official google coral and will link the answer here if they come on the other.

* Doc you were trying to follow: Get Started -Flashing the board +Flash from U-Boot on an SD card
* Your host OS: MacOs Catalina 10.15.7
* Your Python3 version: 3.6.8

I have tried flashing my coral board for a few hours from my mac now but without much success. I started with the regular tut

[2020-11-30 00:46] Tetsujinfr commented on #69
Hi
Is there any update on the segmentation model accuracy on coral?
Thanks

[2020-11-30 16:32] Guillaume-slize commented on #90
As @Namburger pointed out in the [other thread](https://github.com/google-coral/edgetpu/issues/269), downloading the android platform tool via cask did the trick.
I followed this response: https://android.stackexchange.com/a/224765

[2020-12-01 08:05] bhachauk commented on #81
Looking for the same :)
[How to fetch TPU utilization details in coral developer board using tflite_runtime or linux command](https://stackoverflow.com/questions/65086544/how-to-fetch-tpu-utilization-details-in-coral-developer-board-using-tflite-runti)

[2020-12-06 19:16] gte620v commented on #60
How did you do the reflashing?  re-entering the bootloader seems to require sudo: https://coral.googlesource.com/mdt/+/refs/heads/master/mdt/shell.py#123

I have the same issue as well as another possibly related issue that is keeping me from being able to ssh to my coral board.  So I only have serial `mendel` user access to the board and I am unsure how to proceed.

[2020-12-06 19:39] gte620v commented on #60
Nevermind.  I see you can get back into `fastboot 0` mode by connected to serial before you add USB-C power from the board.  From there, I can enter u-boot and get run `fastboot 0`.

[2020-12-06 22:51] BrewLink opened #91 "It looks like you're trying to connect to a device that isn't connected to your workstation via USB and doesn't have the SSH key this MDT generated. Issue on Mac"
* Doc you were trying to follow: <https://coral.ai/docs/dev-board/mdt/#recover-mdt-access>
* Your host OS: <MacOS Catalina >
* Your Python3 version: <3>

# What I ran
mdt shell

# What the docs said should happen
Connect

# What actually happened
It looks like you're trying to connect to a device that isn't connected
to your workstation via USB and doesn't have the SSH key this MDT generated.
To c

[2020-12-07 03:21] BrewLink opened #92 "Eagle enterprise to Day 13 reflashing failure?"
* Doc you were trying to follow: <t>
* Your host OS: <Mac catalina>
* Your Python3 version: <Python3>

Bash flash.sh results in:

downloading of 134217728 bytes finished
can't find partition: fbmisc, dump the partition table
idx 0, ptn 0 name='gpt' start=0 len=2048
idx 1, ptn 0 name='tos' start=0 len=2047
idx 2, ptn 0 name='bootloader0' start=66 len=4094
idx 3, ptn 1 name='boot' start=16384 len=26

[2020-12-08 13:33] Namburger commented on #92
What board do you have?

[2020-12-09 02:02] BrewLink commented on #92
Dev board 1G with ">9410" serial number

[2020-12-13 22:13] Tetsujinfr commented on #69
hi, @Namburger , do you have any update to share on this model accuracy improvement for the edge tpu? thank you

[2021-01-15 23:56] murreletinnovation opened #93 "Can't pip install certain python3 modules"
I'm working on a Dev Board running Mendel GNU/Linux 5 (Eagle) Release 10.0
GCC: 8.3.0
Python3 version: 3.7.3

What I ran:
sudo pip3 install pandas (or scipy and a few other examples)

I've attached the output of trying to pip install pandas.
[output.txt](https://github.com/f0cal/google-coral/files/5823439/output.txt)

[2021-01-18 14:16] Namburger commented on #93
You can install using sudo:
[code]
If a pip library doesn't have a pip package specifically for a certain platform, it usually requires building it, which will fails if your system doesn't have a certain dependencies

[2021-01-18 19:51] saket424 commented on #32
@Namburger
I got a new google coral dev miniboard and am having trouble installing docker on  it. I see an error

ERRO[2021-01-18T19:49:27.439668055Z] 'overlay' not found as a supported filesystem on this host. Please ensure kernel is new enough and has overlay support loaded.  storage-driver=overlay

Any ideas ?

[2021-01-19 16:37] saket424 commented on #32
I suspect the right docker related flags for kernel support have not been enabled for this new mediatek coral dev miniboard yet. the regular dev board works fine

[2021-01-20 17:19] murreletinnovation commented on #93
Thanks @Namburger, was confused as to why the python wheels were failing. Closing this issue

[2021-01-20 17:19] #93 closed, assigned to Namburger

[2021-01-20 17:26] murreletinnovation opened #94 "Power Management and Interrupt Driven Wakes"
Is there a way to put the Dev Board into a deep sleep mode (hibernation) that can be awakened on a USB event? I come from a bare-metal/RTOS background so I'm not sure if there are ways to set up USB wakeups in a Linux Mendel environment.

"cat /sys/power/state" shows me freeze and mem as the two options. I don't see any functionality for putting the system into hibernate, is this not possible on t

[2021-01-29 01:19] murreletinnovation commented on #94
@Namburger Hi Nam, could you provide any advice on this topic?

[2021-02-03 19:27] murreletinnovation commented on #94
@Namburger Bumping this again to see if there's any help I can receive. I'm trying to set up this device in a remote outdoor location and will need it to be low-power so service techs will not have to replace the battery as often.

I essentially want the platform to enter a sleep or "low-power" mode until it receives an event from an external USB device (asynchronous). I'd like to understand how I

[2021-02-06 06:59] jeffreycunn commented on #21
soungno, thanks for the insights on the cs_high=True flag in board.py.  This fixed my first error....also main getting started instructions are definitely lacking in detail.  The docs should include enabling SPI and ISC

I have the LED displaying, but now I am getting NAN values....will look above to see if other suggestions fix.

[2021-02-06 23:58] jeffreycunn opened #95 "Errors on install of python3-coral-enviro with Raspberry Pi Zero W and NaN for Temperature and and Light Level"
* Doc you were trying to follow: https://coral.ai/docs/enviro-board/get-started/#2-install-the-python-library
* Your host OS: Raspberry Pi OS 32 bit on a Raspberry Pi Zero W (latest stable image) and Coral Environmental Sensor Board
* Your Python3 version: Python 3.7.3

# What I ran
sudo apt install python3-coral-enviro

# What the docs said should happen

# What actually happened
Reading package

[2021-02-07 00:10] jeffreycunn commented on #89
What did you end up doing? Which libraries?

[2021-02-08 12:11] Luisibear98 commented on #89
Hi! sorry for the delay, I made a custom repo for that solution. Check my profile! :D

[2021-02-08 12:12] Luisibear98 commented on #89
https://github.com/Luisibear98/google-coral.git Thats the repo! just enter on the folder and install requirements!

[2021-02-08 12:13] Luisibear98 commented on #21
Some of the libraries are a little bit buggy, thats only one of the bugs

[2021-02-15 00:04] derekm commented on #49
I have this issue on 5.2 Eagle.

Had to follow instructions here to turn fan on continuously: https://stackoverflow.com/a/58385364

[2021-02-15 01:56] jeffreycunn commented on #89
Even when I download your repo, the sensor will not display RH or light level....this is really perplexing to me.  I think there is something wrong at a lower level.

[2021-02-15 08:44] Luisibear98 commented on #89
Did you cloned my repo and Installed the requirements.txt? Im using python3 and it is working :).
I have updated the enviro_board class. What fo yoy get when you execute it?
This is what I get:
{'CPU': 46.698, 'temperature': 35.163421630859375, 'humidity': 35.8489990234375, 'ambient_light': 53.86, 'pressure': 945.9359053930328}

[2021-02-15 08:59] Luisibear98 commented on #89
In addition, could you test the test.py script I did?
I have added it now.
Just do "python3 test.py -d 0x45"
Does it print the  lux?
If so just try again the enviro_board.py

[2021-02-16 18:24] tomnguyenn opened #96 "cannot run mdt after successfully installing"
* Doc you were trying to follow: https://coral.ai/docs/dev-board-mini/get-started/#2-install-mdt
* Your host OS: macOS 11.2.1 Big Sur (M1 Macbook Air)
* Your Python3 version: 3.8.5

# What I ran

mdt

# What the docs said should happen

should show attached devices

# What actually happened

This error:

`Couldn't load paramiko or zeroconf -- perhaps you need to install them?
On Debian derivatives

[2021-02-24 04:05] Tylersuard opened #97 "winpty: error: cannot start 'mdt': Not found in PATH"
* Doc you were trying to follow: https://coral.ai/docs/dev-board-mini/get-started/#2-install-mdt
* Your host OS: Windows 10
* Your Python3 version: python 3.8

# What I ran
echo "alias mdt='winpty mdt'" >> ~/.bash_profile

source ~/.bash_profile

mdt devices

# What the docs said should happen

It should show devices

# What actually happened

winpty: error: cannot start 'mdt': Not found in PATH

[2021-02-26 15:33] noahzhy commented on #97
[code]
Notice: pip3 install it without `--user`, btw, make sure the following content in `~/.bash_profile` file.

[code]
Remember `source ~/.bash_profile`

[2021-02-26 18:26] tomnguyenn commented on #96
Just bumping this. Has anyone had any luck with an M1 Mac?

[2021-03-01 22:04] slbejaranom commented on #61
I always get to the point where you "permanently mount it" but once i reboot the board, it doesn't mount itself, still don't know why, followed the exact steps verifying not damaging fstab, checked thrice, after reboot the file fstab keeps the modification but the SD doesn't mount itself, am I doing something wrong?

[2021-03-01 22:45] slbejaranom opened #98 "MongoDB can't be installed"
Hello everyone, I have a server using nodejs mongo and dlib for tracking and counting cars, sending some info to mongo, however I have this running in docker, although I can get it out of docker it seems impossible to install mongo, i've tried some tricks from raspberry but still can't manage to do it, any help would be appreciated.

[2021-03-02 09:03] haithienld commented on #63
You need to check your board. If your board is connecting to the Internet throught wifi. And you want to use mdt shell, you should to disable the connection first. Then, connect your board to host through OTG and use mdt shell.

[2021-03-02 17:29] brianthelion commented on #98
Share some example code, please.

[2021-03-02 17:32] slbejaranom commented on #98
There's not much, I managed to install docker and docker-compose in the coral dev board and was building the app again since if I just do docker-compose up it'll run with the same characteristics as host:

This is my docker-compose.yml

[code]

[2021-03-02 23:42] brianthelion commented on #98
Error logs?

[2021-03-06 01:56] Tylersuard opened #99 "Can't copy and paste"
This is on the Coral Dev Board
* Your host OS: Mendel

# What I ran
Just selected text from the terminal and right-clicked.  Copy and paste are available as commands, but they do not work.

[2021-03-13 10:51] javiercanadillas commented on #95
Hi,

This is happening to me as well, here's what I did:

### What I have
- Following official [Get Started](https://coral.ai/docs/enviro-board/get-started/), redirected from trying [GCP Community Tutorial on RPi Zero W and Dev Board](https://cloud.google.com/community/tutorials/cloud-iot-gateways-rpi)
- Raspberry Pi OS 32 bit on a Raspberry Pi Zero W (latest stable image) and Coral Environmental

[2021-03-20 14:42] lucaired commented on #95
Hello,
I also have the same problem.

## What I have

-  I'm using https://coral.ai/docs/enviro-board/get-started/
- On a Raspberry Pi 3 Model B v1.2 with
Linux raspberrypi 5.10.17-v7+ #1403 SMP Mon Feb 22 11:29:51 GMT 2021 armv7l GNU/Linux

## What I did

[code]

## What has happened

[code]

[2021-03-25 13:01] MattW2 opened #100 "Docker Device Passthrough - map pfn RAM range req uncached-minus"
Trying to get a Coral Mini PCIe running on an Unraid Server.
- Intel Xeon E3-1246 v3 CPU
- Unraid 6.9.1 Host
- mini PCI to PCI Adapter I am using:[ Ableconn PEX-MP117 Mini PCI-E to PCI-E Adapter Card](https://www.amazon.com/gp/product/B07JBCL1CJ/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1)
- Card appears to be correctly identified by the host
![Coral Edge TPU IOMMU](https://user-images.github

[2021-03-25 13:20] #100 closed, assigned to nobody

[2021-03-25 13:20] MattW2 commented on #100
Cross posted to https://github.com/google-coral/edgetpu/issues/345

[2021-04-12 13:16] flingmycow opened #101 "OS WinError following get started with dev board tutorial - connecting to board via mdt"
* Doc you were trying to follow: https://coral.ai/docs/dev-board/get-started/#connect-via-mdt
* Your host OS: Windows 10
* Your Python3 version: 3.7.9

# What I ran
`mdt devices`

# What the docs said should happen
You should see output showing your board hostname and IP address
e.g. `orange-horse (192.168.100.2)`

# What actually happened
`OSError: [WinError 10049] The requested address is not va

[2021-05-24 17:17] rjpadilla commented on #95
Hello, I am having the same issue when installing `python3-coral-enviro`.

## What I Have
Building from a new raspberry pi image: https://downloads.raspberrypi.org/raspios_armhf/images/raspios_armhf-2021-03-25/2021-03-04-raspios-buster-armhf.zip.torrent

## What I Did
Grabbed the debian package using `deb https://packages.cloud.google.com/apt coral-cloud-stable main`
Installed `python3-coral-envir

[2021-06-06 17:33] trezbit opened #102 "Windows OS: Connected dev board not visible in mdt using Git Bash"
* Doc you were trying to follow: https://coral.ai/docs/dev-board-mini/get-started/#4-connect-to-the-boards-shell-via-mdt
* Your host OS: Windows 10 (WSL2)
* Your Python3 version: 3.9

# What I ran
 Got For Windows - Git Bash 2.31.1
1. Installed mdt and confirmed it is available via Git Bash following suggestions in https://github.com/f0cal/google-coral/issues/97 to address path issues
2. Connected

[2021-06-11 16:01] edosrecki opened #103 "Dev Board Mini - Environmental Sensor Board not visible in IIO devices"
* Doc you were trying to follow: https://coral.ai/docs/enviro-board/get-started/
* Your host OS: Linux 4.19.125-mtk #1 SMP PREEMPT Thu Dec 10 02:36:13 UTC 2020
* Your Python3 version: Python 3.7.3

# What I ran
I ran the commands from the [Get Started Guide](https://coral.ai/docs/enviro-board/get-started/) to install the Enviromental Sensor Board on my Dev Board Mini. After that I tried running th

[2021-07-26 09:44] dtlam26 commented on #96
A quick solve for this. If you look at the error raise in  ['main python file'](https://coral.googlesource.com/mdt/+/refs/heads/master/mdt/main.py). You will see the problem is that you cant import  **zeroconf** or **paramiko**.

Please import them manually in the python shell to see what library is conflicted or failed. For my case, it is PyNaCl missing. Therefore, just install/reinstall the libr

[2021-08-04 17:47] GokulSudheesh commented on #102
I had the same issue and this worked for me.

First connect your board to your PC.

Go to **Control Panel > Network and Internet > Network and Sharing Center**

Here you will see an **Unidentified network** click on it and go to **Properties**.
In properties, go to **Sharing** and check **Allow other network users to connect through this computer's internet connection**.

Now try running ```mdt sh

[2021-09-17 16:04] msiemens commented on #95
Same here. But I found someone asking the same question on StackOverflow: https://stackoverflow.com/questions/66084814/what-is-causing-how-can-i-fix-build-error-with-sudo-apt-install-python3-coral-e. The top answer mentions that the compilation fails because the referenced Linux IIO driver API has changed but Google hasn't updated their driver. I modified `/usr/src/coral-enviro-drivers-1.5/adc/ti-

[2021-11-12 17:30] PhanTask opened #104 "Coral Dev Board Mini not recognized in my Ubuntu laptop"
* Doc you were trying to follow: https://coral.ai/docs/dev-board-mini/get-started/#4-connect-to-the-boards-shell-via-mdt
* Your host OS: Ubuntu 20.04.3 LTS
* Your Python3 version: Python 3.8

# What I ran

`mdt devices`

# What the docs said should happen

`fun-zebra        (192.168.100.2)`

# What actually happened

It returned nothing.

I also tried running `mdt shell` and it said "Waiting for a

[2021-11-15 15:00] rohanjuneja opened #105 "Coral TPU board clock frequency"
Hello,

Is there a way to print the clock frequency of the Coral TPU board?
Also, is it possible to change the clock frequency to a lower 125MHz?

Thanks!

[2021-11-17 14:03] rohanjuneja commented on #105
@Namburger Could you please us know about this if it is even possible? As we are working on reducing the clock frequency for a few days now, but have not been able to achieve it.

[2021-11-18 21:59] nrg0004 commented on #104
I also have the same problem but on my windows laptop. I even tried doing this - https://github.com/f0cal/google-coral/issues/102#issuecomment-892850619 but nothing helps. Did you find a solution?

[2021-11-29 20:13] PhanTask commented on #104
@nrg0004 Unfortunately, no... I don't know if it is caused by wrong configuration or invisible physical damage... No idea how to check.

[2021-11-30 19:56] nrg0004 commented on #104
I have been able to connect to the dev board using serial console over micro-USB but it fails to connect with MDT over USB-C. I connected several boards through serial console but not through MDT over USB-C. The first board we connected with my colleagues computer successfully but it wouldn't connect with mine. Later figured that you can't connect one board to multiple computers unless you copy th

[2021-12-01 18:42] nrg0004 commented on #104
Finally I found a fix. Apparently the dev board is seen as a unidentified network under public networks. My Windows Firewall settings blocked python.exe from writing to or reading to public networks. I did the following -
**How to check if Windows Firewall is blocking a program**

- Press Windows Key + R to open Run.
- Type control and press OK to open Control Panel.
- Click on System and Security

[2021-12-01 18:43] nrg0004 commented on #102
I did the above but it did not fix my problem. Here is what fixed it -

Apparently the dev board is seen as a unidentified network under public networks. My Windows Firewall settings blocked python.exe from writing to or reading to public networks. I did the following -

**How to check if Windows Firewall is blocking a program**

- Press Windows Key + R to open Run.
- Type control and press OK to

[2021-12-14 06:37] PhanTask commented on #104
@nrg0004 Thanks sooooo much! Your suggestion definitely works for me. I tried connecting the dev board mini and windows desktop and enabled python.exe access, then I can use mdt shell to connect to the dev board. Awesome!

Just another question regarding private/public key thing. I have another coral dev board mini and it is very likely to be set up with another computer before. I tried connecting

[2022-01-21 14:53] tobe2bcon opened #106 "v4l2loopback not found in /lib/modules/4.14.98-imx"
* Doc you were trying to follow

I have a USB camera connected to the coral dev board and I would like to convert the mjpeg video stream to H.264 in order  to use this new stream in frigate, which is also running on the device. To do so, I need v4l2server (already running) and v4lsloopback (still failing). Some documents as well as terminal output say, that kernel headers are required.

* Your hos

[2022-01-28 06:34] gszakacs commented on #106
I am getting 15ms inference time, but 50-70% CPU usage when taking an MJPEG stream from a low resolution (640x80) DIY ESP32 IP cam and re-encoding the stream to h264 and feeding that to frigate. This works ok for one cam, but I gave up on this idea since I need to run object detection on 4 streams. The issue with re-encoding is that the coral dev board does not have hw encoder. See spec sheet http

[2022-03-06 13:09] thedevleon commented on #103
I'm having the same issue. Did you manage to fix it?

[2022-03-29 08:03] bquinart commented on #103
I am also trying to get the Environmental Sensor Board to work with the Dev Board Mini. The documentation is vague if this is supported. The product page mentions it is compatible with the Dev Board Mini (https://coral.ai/products/environmental/#compatible-with-coral-and-raspberry-pi-boards), but the docs do not detail anything further.

If I compare the specs of the two boards and the environment

[2022-04-22 08:24] MarkusBansky commented on #95
Hi everyone, I wanted to add my workaround in addition to the comment @msiemens made. As of 2022, the environment board example did not work on RP as there were some problems with the SPI interface because Google did not update the library.

After successfully installing the `python3-coral-enviro` go and upgrade the `luma` dependency for `oled`:

[code]

Then reboot the board and you can run the e

[2022-05-07 19:43] thebruce87m opened #107 "Play mp4 video using GStreamer on Google Coral Dev Board Mini"
I'm trying to play a video file on a Google Coral Dev Board Mini using GStreamer.

I am using the file "drop.avi" from here: https://www.engr.colostate.edu/me/facil/dynamics/avis.htm

I can successfully play this file using the following command:

[code]

I now want to try playing an mp4 file.

I have converted the avi file using the following command from [here](https://stackoverflow.com/question

[2022-05-13 14:25] iaverypadberg commented on #81
I'm also looking for a way to get more in depth info on the TPUs utilization metrics(temp & %utilization).

[2022-06-02 20:30] ITotallyKnowNothing commented on #95
Did what msiemens suggested, edited the ti-ads1015.c source file in a sudo su terminal running Geany, commented out line 797 & 798 /*...*/
Saved and then re-run the apt install python3-coral-enviro and it worked (still in a sudo su). You see a lot more happening as well during the install.
The 2 definitions

.postenable  = iio_triggered_buffer_postenable,
.predisable  = iio_triggered_buffer_predis

[2022-06-25 18:37] TruckDynasty commented on #2
For anyone winding up here from a search engine: you generally need to add your user to both 'dialout' *and* 'tty'

[2022-07-10 07:35] sachlj opened #108 "`edgetpu_demo` fails on `tflite` version conflict"
[code]
[code]
[code]

[2022-07-10 11:23] brianthelion commented on #108
It looks like the original error was with the `requirements.txt` (or `setup.cfg`, `setup.py`, whatever) requesting two different versions of the `tflite-runtime` package, possibly indirectly through other dependencies:

[code]

Can you please post a reference to the `edgetpu_demo` source code? Thanks!

[2022-07-10 11:54] sachlj commented on #108
[code]

[2022-07-10 11:59] sachlj commented on #108
https://coral.ai/docs/dev-board/get-started#run-demo
.......

[code]

[2022-07-10 12:03] sachlj commented on #108
8: Run a model using the PyCoral API
....
[code]

[2022-07-10 12:04] sachlj commented on #108
Shouldn't Google's tutorial for their product work by any chance? Or does Google produce garbage too?

[2022-07-10 12:41] brianthelion commented on #108
The reason this community issue tracker exists is that Google is doing a questionable job maintaining the public-facing Coral software.

[2022-07-10 14:50] jlpoolen commented on #108
_Ad hominem_ attacks, "Google produce garbage", are an unfortunate way to achieve the goal of getting their demo software working.  If you are trying to get their Dev Board to work with the demo software outside of its configured demonstration, good luck.  I've spent a considerable amount of time studying their code and effort to get gstreamer working (to the point of installing a Gentoo chroot en

[2022-07-12 08:37] sachlj commented on #108
Another possibility occurred to me. Reinstall the last version of the OS, do not perform any updates, do not set users, do not rename and try the instructions on a completely clean machine. However, I need advice on how to do it. We tried to reinstall according to the instructions for the initial installation and it does not work. Can someone advise me how to do this?

[2022-07-19 02:22] kjisu96 opened #109 "What is root password for Coral Dev Board?"
When I ran `su root` in coral dev board, it asked password.
like this `Password: `
I entered `mendel`, `root` , but they all not worked.

What is root password?

[2022-07-19 02:36] kjisu96 commented on #109
I bypassed issue.
`sudo -i` makes enter command as root available.

[2022-07-19 02:36] #109 closed, assigned to nobody

[2022-08-07 13:26] jnnks commented on #61
If anyone has a similar problem, check your `/etc/fstab` file in a text editor. I already had an entry mounting a partition to `/home` and the one added manually failed because of that.

The partitions are mounted in the order they appear in `/etc/fstab`, so your SD Card should be listed after the original mount:
[code]

**Leave the original mount entry in the config file in case something goes wr

[2022-08-11 02:44] JasonCruz-Dev commented on #97
Thanks a ton! That solved my issue too!

[2022-08-17 00:03] krishnans2006 opened #110 "mdt shell (and other commands)"
* Doc you were trying to follow: https://coral.ai/docs/dev-board/get-started/#connect-via-mdt
* Your host OS: Manjaro Linux
* Your Python3 version: Python 3.10.5

# What I ran

[code]

# What the docs said should happen

After a moment, you should see the board's shell prompt.

# What actually happened

[code]

[2022-11-10 15:41] HughMungis commented on #58
I'm using putty and I cannot open a 2nd terminal into the COM port or the alternative COM port that show up in my device manager.

booting into fastboot mode was successful, but i can't get a shell after doing that. Is there some intermediate step i'm missing?

[2022-11-13 00:40] Rhyzhang commented on #10
Hi @brianthelion ,

It seems `sudo add-apt-repository ppa:deadsnakes/ppa` does not work as I get this error:
[code]

Currently, Python3 on Mendel is running on Python 3.7.3 however matplotlib needs Python 3.8 in order to install. Do you know how I can update Python 3.7.3 to Python 3.8?

Best,
Ryan

[2022-11-13 00:46] Rhyzhang opened #111 "Updating python3 from 3.7.3 to 3.8+"
Hi,

It seems `sudo add-apt-repository ppa:deadsnakes/ppa` does not work as I get this error:
[code]

Currently, Python3 on Mendel is running on Python 3.7.3 however matplotlib needs Python 3.8 in order to install. Do you know how I can update Python 3.7.3 to Python 3.8?

Best,
Ryan

_Originally posted by @Rhyzhang in https://github.com/f0cal/google-coral/issues/10#issuecomment-1312605489_